  <!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<!--Dashboard header-->
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <mat-icon *ngIf="!isFromMyChart" class="mgnleft10 pointer md-18" (click)="goBack()">arrow_back_ios</mat-icon>
    <mat-icon class="mgnleft10 md-18" color="primary">dashboard</mat-icon>
    <span class="mgnleft10 font_14 capitalize">{{uidLabel}}</span>
  </div>
  <div [hidden]="!autoRefreshEnabled" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <mat-icon *ngIf="startRefreshTime" class="fa-spin" color="primary">autorenew</mat-icon>
        <mat-icon *ngIf="!startRefreshTime" color="primary">autorenew</mat-icon>
        <mat-chip-list class="mgnrgt10">
          <mat-chip *ngIf="startRefreshTime" class="mgnleft5" color="accent" matTooltip="Auto refresh in {{convertSecToTime(refreshTime)}}" (click)="stopRefTime()" selected>{{convertSecToTime(refreshTime)}}</mat-chip>
          <mat-chip *ngIf="!startRefreshTime" class="mgnleft5" color="accent" matTooltip="Click to start the auto refresh" (click)="startAutoRefresh()" selected>{{convertSecToTime(refreshTime)}}</mat-chip>
        </mat-chip-list>
  </div>
</div>
<div id="watermark" [ngClass]="['dbwrapper'+divSize]" class="mgnleft10 mgnrgt10">
  <div [ngStyle]="{'display':dispSmallGrid}" class="smallgird" [ngClass]="['dbwrapper'+divSize]" *ngFor="let ele of divCount"></div>
  <div class="mat-elevation-z8 mgntop10" [ngClass]="['dbwrapper'+divSize]" id="idx{{i}}" *ngFor="let chart of drawChartData; let i=index" [style.grid-column-start]="chart.chart_param.grid_param.gcs" [style.grid-column-end]="chart.chart_param.grid_param.gce" [hidden]="chart.chart_param?.grid_param?.edit" [style.grid-row-start]="chart.chart_param.grid_param.grs" [style.grid-row-end]="chart.chart_param.grid_param.gre">
    <div *ngIf="chart?.data?.length==0" [style.width.px]="d3Width[i]" [style.height.px]="d3Height[i]">
        <span class="font_14 mgnleft5" style="position:relative;" matTooltip="{{chart.chart_title+' '+chart.category}}">{{chart.divTitle}}</span>
        <span style="float:right" class="mgnrgt5 font_16">
            <span *ngIf = "chart.dd_chart_id == null && chart.xaxis_time_scale" style="text-align:right;" class="mgnleft10" matTooltip ="Time based drill down available"><mat-icon  >schedule</mat-icon></span>
            <span *ngIf = "chart.dd_chart_id != null" style="text-align:right;" class="mgnleft10" matTooltip ="Drilldown Chart Available" ><mat-icon>timeline</mat-icon></span>
            <span *ngIf = "!isFromMyChart && chart.module_type !='SUM'" style="text-align:right;" class="mgnleft10 pointer" matTooltip ="Add to MyChart" (click)="enableAddMychart(chart)"><mat-icon color="warn">pie_chart</mat-icon></span>
            <span *ngIf = "isFromMyChart" style="text-align:right;" class="mgnleft10 pointer" matTooltip ="Click to remove me" (click)="removeChart(chart)"><mat-icon class="clrred">highlight_off</mat-icon></span>
            <span *ngIf = "chart.is_alert_enabled" style="text-align:right;" (click)="openAlertModal(chart.ref_table_pkey_id, chart.module_type, chart.ref_id, chart.category)" class="mgnleft10 pointer" matTooltip="Set Alert"><mat-icon color="accent">notifications_none</mat-icon></span>
            <span *ngIf = "chart.chart_desc!=null" style="text-align:right;" class="mgnleft10 pointer" matTooltip="{{chart.chart_desc}}"><mat-icon class="clrblue">help_outline</mat-icon></span>
        </span>
        <span fxLayoutAlign="center center" [style.line-height.px]="d3Height[i]-20" class="font_16">No Data to display this Chart</span>
    </div>
    <div *ngIf="chart.root_chart_type!='table' && chart.root_chart_type != 'stamp' && chart.data != undefined && chart.data.length>0" id="{{chart.mc_id}}" appD3chartsv3 [chartdata]="chart" [width] = "d3Width[i]" [height]="d3Height[i]-35" [chartType]="chart.root_chart_type" [editMode]=false (onChartOutput) = "fromD3chart($event)" [changeData] = "svgData[i]" [theme]="theme" [style.width.px]="d3Width[i]" [style.height.px]="d3Height[i]" [ngStyle]="{'display':chart.chart_param?.grid_param?.edit?'none':'block'}">
        <span class="font_14 mgnleft5" style="position:relative; text-overflow: ellipsis;" matTooltip="{{chart.chart_title+' '+chart.category}}">{{chart.divTitle}}</span>
        <span style="float:right" class="mgnrgt5 font_16">
            <span *ngIf = "chart.dd_chart_id == null && chart.xaxis_time_scale" style="text-align:right;" class="mgnleft10" matTooltip ="Time based drill down available"><mat-icon>schedule</mat-icon></span>
            <span *ngIf = "chart.dd_chart_id != null" style="text-align:right;" class="mgnleft10" matTooltip ="Drilldown Chart Available" ><mat-icon>timeline</mat-icon></span>
            <span id="addtomychart{{i}}" *ngIf = "!isFromMyChart && chart.module_type !='SUM'" style="text-align:right;" class="mgnleft10 pointer" matTooltip ="Add to MyChart" (click)="enableAddMychart(chart)"><mat-icon color="warn">pie_chart</mat-icon></span>
            <span id="removeme{{i}}" *ngIf = "isFromMyChart" style="text-align:right;" class="mgnleft10 pointer" matTooltip ="Click to remove me" (click)="removeChart(chart)"><mat-icon class="clrred">highlight_off</mat-icon></span>
            <span id="openalert{{i}}" *ngIf = "chart.is_alert_enabled" style="text-align:right;" (click)="openAlertModal(chart.ref_table_pkey_id, chart.module_type, chart.ref_id, chart.category)" class="mgnleft10 pointer" matTooltip="Set Alert"><mat-icon color="accent">notifications_none</mat-icon></span>
            <span id="chartdesc{{i}}" *ngIf = "chart.chart_desc!=null" style="text-align:right;" class="mgnleft10 pointer" matTooltip="{{chart.chart_desc}}"><mat-icon class="clrblue">help_outline</mat-icon></span>
        </span>
    </div>
    <section *ngIf="chart.root_chart_type=='table' && tableDataSource[i]?.data?.length>0" [style.height.px]="d3Height[i]" [style.width.px]="d3Width[i]">
      <span class="font_14 mgnleft5" style="position:relative;" matTooltip="{{chart.chart_title+' '+chart.category}}">{{chart.divTitle}}</span>
      <span style="float:right" class="mgnrgt5 font_16">
        <span id="addtomychart{{i}}" *ngIf = "!isFromMyChart && chart.module_type !='SUM'" style="text-align:right;" class="mgnleft10 pointer" matTooltip ="Add to MyChart" (click)="enableAddMychart(chart)"><mat-icon color="warn">pie_chart</mat-icon></span>
        <span id="removeme{{i}}" *ngIf = "isFromMyChart" style="text-align:right;" class="mgnleft10 pointer" matTooltip ="Click to remove me" (click)="removeChart(chart)"><mat-icon class="clrred">highlight_off</mat-icon></span>
      </span>
        <div cdkScrollable id="{{'idx'+i}}" [style.height.px]="d3Height[i]-30" [style.width.px]="d3Width[i]-10" style="overflow: auto">
          <table mat-table #table [dataSource]="tableDataSource[i]" matSort>
              <ng-container matColumnDef="{{col}}" *ngFor="let col of dispColumns[i]; let i=index">
                  <th mat-header-cell *matHeaderCellDef class="capitalize" style="padding:0 5px !important">{{col}}</th>
                  <td mat-cell style="padding:0 5px !important" *matCellDef="let element">
                      <span *ngIf="chart.xaxis_time_scale && i==0">{{element[col]| date: 'medium'}}</span>  
                      <span *ngIf="i > 0">{{element[col]}}</span>
                      <span *ngIf="!chart.xaxis_time_scale && i==0">{{element[col]}}</span>  
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="dispColumns[i]; sticky: true"></tr>
              <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: dispColumns[i];"></tr>
          </table>
        </div>
    </section>
    <section  *ngIf="chart.root_chart_type=='stamp'&&chart?.data?.length>0" [style.width.px]="d3Width[i]" [style.height.px]="d3Height[i]" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutAlign="end center" style="width:100%">
        <span id="removeme{{i}}" *ngIf = "isFromMyChart" style="text-align:right;" class="mgnleft10 pointer" matTooltip ="Click to remove me" (click)="removeChart(chart)"><mat-icon class="clrred">highlight_off</mat-icon></span>
      </div>
      <mat-chip-list aria-label="Stamp display">
        <mat-chip class="font_20" color="primary" selected>{{chart.data[0][objectKeys(chart.data[0])[0]]}}</mat-chip>
      </mat-chip-list>
      <div class="font_12">{{chart.chart_title}}</div>
    </section>
    <mat-icon *ngIf="isFromMyChart" style="position:relative;" [ngStyle]="{'opacity':dispConfig[i], 'top':d3Height[i]-20+'px', 'left':getConfigPos(i)}" color="accent" (click)='setEditMode(i)' (mouseover)="onMouseOverConfig(i)" matTooltip="Click me to resize chart">settings_ethernet</mat-icon>
  </div>
  <div *ngIf="actCord[idx]!=undefined && actCord[idx]['editMode']" id="idx{{idx}}" class="chart-edit-mode" [style.left.px]="actCord[idx]['x']" [style.top.px]="actCord[idx]['y']" [style.width.px]="actCord[idx]['width']" [style.height.px]="actCord[idx]['height']" (mousedown)='onWindowPress($event)' (mousemove)='onWindowDrag($event)' (dblclick)="releaseEdit()">{{actCord[idx]|json}}
    <div (mousedown)='onCornerClick($event, bottomRightResize)' id='chart-bottom-right-resize' class='chart-corner-topleft-resize'></div> 
  </div>
</div>

