.dbwrapper85 {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
}

/* .dbwrapper85 {
  display: flex;
  flex: 1 1 7%;
  box-sizing: border-box;
  border: 1px solid black;
  height: 85px;
  max-width: 7%;
} */
.dbwrapper75 {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(70x, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(70px, auto);
}

.dbwrapper65 {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(65px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(65px, auto);
}

.dbwrapper55 {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(55px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(55px, auto);
}

.dbwrapper45 {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(45px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(45px, auto);
}

.smallgird{
    border: 1px dashed gray;
    opacity: 0.8;
    z-index: -10;
}
.chartdiv{
    /* border: 1px solid blue; */
    opacity: 1;
    z-index: 1;
} 
.chart-edit-mode{
    resize: both;
    cursor: move;
    position: absolute;
    border: 1px solid brown;
    opacity: 1;
    z-index:1;
    background-color: aliceblue;
}
.chart-corner-topleft-resize {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: nwse-resize;
}
#chart-bottom-right-resize { bottom: 0px; right: 0px; }

.mat-standard-chip {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 14px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 18px !important;
    height: 1px;
}
