<!--Loader spinner-->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
        
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">notifications</mat-icon>
    <mat-label color="primary">{{openAlertTitle}}</mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div *ngIf="dispAlertGrid" mat-dialog-content fxLayout="row" fxLayoutAlign="center center">
    <table mat-table #table [dataSource]="alertPolicyColl" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="delete">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
                <mat-icon color="warn" class="pointer" (click)="removeAlert(element)">delete</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
                <mat-icon color="accent" class="pointer" (click)="editAlert(element)">edit</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="policy_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert Policy Name</th>
            <td mat-cell class="font_12" style="padding:0 5px !important" *matCellDef="let element">{{element.policy_name}}</td>
        </ng-container>
        <ng-container matColumnDef="critical_threshold_value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Critical</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element">
                <mat-chip-list>
                    <mat-chip color="warn" matTooltip="Critical" selected>{{element.is_above_threshold ? '>=' : '<='}}{{element.critical_threshold_value}}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>
        <ng-container matColumnDef="warning_threshold_value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Warning</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element">
                <mat-chip-list>
                    <mat-chip color="accent" matTooltip="Warning" selected>{{element.is_above_threshold ? '>=' : '<='}}{{element.warning_threshold_value}}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>
        <ng-container matColumnDef="min_breach_count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Min Breach</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.min_breach_count}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="dispPolicyColumns; sticky: true;"></tr>
        <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: dispPolicyColumns;"></tr>
    </table>  
</div>
<div *ngIf="dispAlertGrid" mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="onClose()">Cancel</button>
    <button mat-raised-button color="primary" (click)="createPolicy()">Create Policy</button>
</div>
<div *ngIf="!dispAlertGrid" mat-dialog-content>
    <form  [formGroup]="form">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <mat-form-field>
                <input matInput placeholder="Policy Name" formControlName="PolicyName" name="PolicyName" id="policy_name" required>
                <mat-error *ngIf="form.get('PolicyName').invalid">{{getErrorMessage(form.get('PolicyName'),'PolicyName')}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Policy Description" formControlName="PolicyDesc" name="PolicyDesc" id="policy_description" required></textarea>
                <mat-error *ngIf="form.get('PolicyDesc').invalid">{{getErrorMessage(form.get('PolicyDesc'),'PolicyDesc')}}</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <input matInput placeholder="Warning Threshold" formControlName="WarnThreshold" name="WarnThreshold" id="warning" required>
                <mat-error *ngIf="form.get('WarnThreshold').invalid">{{getErrorMessage(form.get('WarnThreshold'),'WarnThreshold')}}</mat-error>
                <mat-hint color="primary">Must be Number</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Critical Threshold" formControlName="CriticalThreshold" name="CriticalThreshold" id="critical" required>
                <mat-error *ngIf="form.get('CriticalThreshold').invalid">{{getErrorMessage(form.get('CriticalThreshold'),'CriticalThreshold')}}</mat-error>
                <mat-hint color="primary">Must be Number</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Minimum Breach Count" formControlName="MinBreachCount" name="MinBreachCount" id="minbreachcount" required>
                <mat-error *ngIf="form.get('MinBreachCount').invalid">{{getErrorMessage(form.get('MinBreachCount'),'MinBreachCount')}}</mat-error>
                <mat-hint color="warn">Must exceed continuously {{form.get('MinBreachCount').value}} times to trigger email/SMS</mat-hint>
            </mat-form-field>
        </div>
        <div class="mgntop5" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <mat-radio-group formControlName="IsAboveThreshold" aria-label="Select an option">
                    <mat-radio-button color="primary" [value]=true  id="Thresholdabove" name="IsAboveThreshold">&gt;=Threshold Value</mat-radio-button>
                    <mat-radio-button color="primary" class="mgnleft10" [value]=false id="Thresholdbelow" name="IsAboveThreshold">&lt;= Threshold Value</mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-form-field *ngIf="dispProcessName">
                <mat-select formControlName="ProcessName" name="ProcessName" class="capitalize" (selectionChange)="onChangeProcessName($event.value)">
                    <mat-option class="capitalize" *ngFor = "let ele of processNameColl" [value]="ele.process_name">{{ele.process_name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<div *ngIf="!dispAlertGrid" mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="onClose()">Cancel</button>
    <button mat-raised-button [disabled]="isLoading || form.invalid" color="primary" (click)="alertPolicySubmit()">Save</button>
</div>
    