<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">pie_chart</mat-icon>    
    <mat-label color="primary" class="mgnleft10">Add/Edit {{title}}</mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field>
        <input matInput placeholder="Dashboard Name" [(ngModel)]="myChartName" name="myChartName" id="mcName">
    </mat-form-field>
    <mat-label class="mgnleft5 mgnrgt5">OR</mat-label>
    <mat-form-field>
        <mat-select [(ngModel)]="myChartSelVal" name="myChartSelVal" id="ddMcName" class="capitalize" (selectionChange)="onChangeDashName($event.value)">
            <mat-option class="capitalize" *ngFor = "let ele of dashboardColl" [value]="ele.mc_name">{{ele.mc_name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="accent" (click)="onClose()">Cancel</button>
  <button *ngIf ="!isLoading" mat-raised-button color="primary" (click)="addToMyChart()">Save</button>
  <div class="clrred mgnleft10">{{errMsg}}</div>
</div>