<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<!--Manage Registered User -->
<div flex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <mat-card fxFlex="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="100" class="mat-elevation-z10 mgntop10"> 
      <mat-card-header>
        <div mat-card-avatar><mat-icon class="apd-blue">people</mat-icon></div>
        <mat-card-title style="margin-top:4px!important;">Registered Users List</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayoutAlign="center center" style="overflow: hidden"> <!--Grid-->
          <div id="userList" [style.max-height.px]="screenParam?.height-150" style="width:100%" style="overflow: auto" class="mat-elevation-z1">
            <table mat-table #table [dataSource]="userColl" matSort>
              <ng-container matColumnDef="is_selected">
                <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef>Del</th>   
                <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"> 
                    <mat-icon id="del{{i}}" *ngIf="!element.is_selected" color="primary" class="pointer" (click)="selUsr(element)">check_box_outline_blank</mat-icon>
                    <mat-icon id="del{{i}}" *ngIf="element.is_selected" color="accent" class="pointer" (click)="selUsr(element)">check_box</mat-icon>
                </td>
              </ng-container>
              <ng-container matColumnDef="user_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>User Id</th>
                <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.user_id}} </td>
              </ng-container>
              <ng-container matColumnDef="first_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.first_name}} </td>
              </ng-container>
              <ng-container matColumnDef="email_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell style="padding:0 5px !important" *matCellDef="let element"> {{element.email_id}} </td>
              </ng-container>
              <ng-container matColumnDef="created_on">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
                <td mat-cell style="padding:0 5px !important" *matCellDef="let element"> {{element.created_on | date: 'dd-MMM-yyyy'}} </td>
              </ng-container>
              <ng-container matColumnDef="last_access_on">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Accessed On</th>
                <td mat-cell style="padding:0 5px !important" *matCellDef="let element"> {{element.last_access_on | date: 'dd-MMM-yyyy'}} </td>
              </ng-container>
              <ng-container matColumnDef="email_verified_on">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Verified On</th>
                <td mat-cell style="padding:0 5px !important" *matCellDef="let element"> {{element.email_verified_on | date: 'dd-MMM-yyyy'}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
              <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>  
          </div>
      </mat-card-content>
      <mat-card-actions >
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <button [disabled]="isLoading || !dispDelButton" id="btnsaveadd" type="submit" mat-raised-button color="primary" (click)="delUsr()">Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
</div>
    