<div flex fxLayout="column" fxLayoutGap="10px">
	<app-login-header></app-login-header>
	<div [style.height.px]="ht">
		<form fxLayout="row" fxLayoutAlign="center center" (submit)="login()" style="height:100%">
			<mat-card fxFlex="33" fxFlex.md="50" fxFlex.sm="75" fxFlex.xs="90"> 
				<mat-card-header>
					<div mat-card-avatar><mat-icon color="accent" style="transform: rotate(30deg); border-radius:100%;">vpn_key</mat-icon></div>
					<mat-card-title>Login</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<div class="flex-column">
					<mat-form-field>
						<input matInput placeholder="Enter your email" [formControl]="email" required>
						<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
					</mat-form-field>
					<mat-form-field>
						<input matInput placeholder="Enter your password" [formControl]="password" [type]="hide ? 'password' : 'text'" required>
						<button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
							<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
					</mat-form-field>
					</div>
				</mat-card-content>
				<mat-card-actions>
					<div fxLayout="row" fxLayoutAlign="center center" >
						<button fxFlex="50" id="btnlogin" [disabled]="isLoading || email.invalid || password.invalid" mat-raised-button color="primary" (click)="login()">Login</button>
					</div>
					<div class="font_16 mgntop10" fxLayout = 'row' fxLayoutAlign="space-between">
						<mat-card-title color="primary" class="font_14 pointer"  [routerLink]="['/forgotPassword']" id="forgot">Forgot your password?</mat-card-title>
						<mat-card-title color="primary" class="font_14 pointer"  [routerLink]="['/register']" id="register">Register</mat-card-title>
					</div>
				</mat-card-actions>
			</mat-card>
		</form>
	</div>
</div>