<!--Loader spinner-->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
  <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
  </mat-progress-spinner>
</div>
<!--Alert Module-->     
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
  <mat-icon color="primary">notifications_active</mat-icon>
  <mat-label color="primary">{{title}}</mat-label>
  <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div *ngIf="dispAlertGrid" class="position-top-relative" matTooltip ="Add Policy" (click)="createPolicy()">
  <button mat-fab color="primary">
      <mat-icon class="pointer" >add_circle_outline</mat-icon>
  </button>
</div>
<mat-tab-group *ngIf="dispAlertGrid" animationDuration="2000ms" [(selectedIndex)]="selectedIdx" style="margin-top:-20px" (selectedTabChange)=onTabChange($event.index)>
  <mat-tab>
    <ng-template mat-tab-label>
      Pattern Based
    </ng-template>
    <ng-template matTabContent>
      <div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <mat-icon color="accent">notifications_active</mat-icon>    
          <mat-label color="primary" >Pattern Based Policies</mat-label>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center"> 
        <table mat-table #table [dataSource]="alertPolicyCollPattern" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="delete">
                <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
                <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
                    <mat-icon color="warn" class="pointer" (click)="removeAlert(element)">delete</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
                <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
                    <mat-icon color="accent" class="pointer" (click)="editAlert(element, selectedIdx)">edit</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="policy_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert Policy Name</th>
                <td mat-cell class="font_12" style="padding:0 5px !important" *matCellDef="let element">{{element.policy_name}}({{element.sla_id}})</td>
            </ng-container>
            <ng-container matColumnDef="log_grok_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Grok Name</th>
              <td mat-cell class="font_12" style="padding:0 5px !important" *matCellDef="let element">{{element.log_grok_name}}</td>
            </ng-container>
            <ng-container matColumnDef="breach_pattern">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Pattern</th>
              <td mat-cell class="font_12" style="padding:0 5px !important" *matCellDef="let element">{{element.breach_pattern}}</td>
            </ng-container>
            <ng-container matColumnDef="breached_severity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Severity</th>
              <td mat-cell class="font_12" style="padding:0 5px !important" *matCellDef="let element">{{element.breached_severity}}</td>
            </ng-container>
            <ng-container matColumnDef="min_breach_count">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Min Breach</th>
              <td mat-cell class="font_12" style="padding:0 5px !important" *matCellDef="let element">{{element.min_breach_count}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="dispPolicyPatternCol; sticky: true;"></tr>
            <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: dispPolicyPatternCol;"></tr>
        </table>  
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Value Based
    </ng-template>
    <ng-template matTabContent>
      <div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon color="accent">notifications_active</mat-icon>    
          <mat-label color="primary" >Value Based Policies</mat-label>
          <!-- <mat-icon color="primary" class="pointer" matTooltip="Create Policy for Value" (click)="openModuleAdd()">add_circle_outline</mat-icon> -->
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center"  style="overflow: auto; max-height:100%; max-width:100%">
        <table mat-table #table [dataSource]="alertPolicyCollValue" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="delete">
                <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
                <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
                    <mat-icon color="warn" class="pointer" (click)="removeAlert(element)">delete</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
                <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
                    <mat-icon color="accent" class="pointer" (click)="editAlert(element,1)">edit</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="policy_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert Policy Name</th>
                <td mat-cell class="font_12" style="padding:0 5px !important" *matCellDef="let element">{{element.policy_name}}({{element.sla_id}})</td>
            </ng-container>
            <ng-container matColumnDef="log_grok_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Grok Name</th>
              <td mat-cell class="font_12" style="padding:0 5px !important" *matCellDef="let element">{{element.log_grok_name}}</td>
            </ng-container>
            <ng-container matColumnDef="grok_column">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Grok Column</th>
              <td mat-cell class="font_12" style="padding:0 5px !important" *matCellDef="let element">{{element.grok_column}}</td>
            </ng-container>
            <ng-container matColumnDef="critical_threshold_value">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Critical</th>
                <td mat-cell style="padding:0 5px !important" *matCellDef="let element">
                    <mat-chip-list>
                        <mat-chip color="warn" matTooltip="Critical" selected>{{element.is_above_threshold ? '>=' : '<='}}{{element.critical_threshold_value}}</mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
            <ng-container matColumnDef="warning_threshold_value">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Warning</th>
                <td mat-cell style="padding:0 5px !important" *matCellDef="let element">
                    <mat-chip-list>
                        <mat-chip color="accent" matTooltip="Warning" selected>{{element.is_above_threshold ? '>=' : '<='}}{{element.warning_threshold_value}}</mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
            <ng-container matColumnDef="min_breach_count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Min Breach</th>
                <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.min_breach_count}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="dispPolicyValColumns; sticky: true;"></tr>
            <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: dispPolicyValColumns;"></tr>
        </table>  
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<div *ngIf="!dispAlertGrid && selectedIdx==1" mat-dialog-content>
  <form  [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch">
          <mat-form-field>
              <input matInput placeholder="Policy Name" formControlName="PolicyName" name="PolicyName" id="policy_name" required>
              <mat-error *ngIf="form.get('PolicyName').invalid">{{getErrorMessage(form.get('PolicyName'))}}</mat-error>
          </mat-form-field>
          <mat-form-field>
              <textarea matInput placeholder="Policy Description" formControlName="PolicyDesc" name="PolicyDesc" id="policy_description" required></textarea>
              <mat-error *ngIf="form.get('PolicyDesc').invalid">{{getErrorMessage(form.get('PolicyDesc'))}}</mat-error>
          </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field>
              <input matInput placeholder="Warning Threshold" formControlName="WarnThreshold" name="WarnThreshold" id="warning" required>
              <mat-error *ngIf="form.get('WarnThreshold').invalid">{{getErrorMessage(form.get('WarnThreshold'))}}</mat-error>
              <mat-hint color="primary">Must be Number</mat-hint>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Critical Threshold" formControlName="CriticalThreshold" name="CriticalThreshold" id="critical" required>
              <mat-error *ngIf="form.get('CriticalThreshold').invalid">{{getErrorMessage(form.get('CriticalThreshold'))}}</mat-error>
              <mat-hint color="primary">Must be Number</mat-hint>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Minimum Breach Count" formControlName="MinBreachCount" name="MinBreachCount" id="minbreachcount" required>
              <mat-error *ngIf="form.get('MinBreachCount').invalid">{{getErrorMessage(form.get('MinBreachCount'))}}</mat-error>
              <mat-hint color="warn">Must exceed continuously {{form.get('MinBreachCount').value}} times to trigger email/SMS</mat-hint>
          </mat-form-field>
      </div>
      <div class="mgntop10" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <mat-radio-group formControlName="IsAboveThreshold" aria-label="Select an option">
              <mat-radio-button color="primary" [value]=true  id="Thresholdabove" name="IsAboveThreshold">&gt;=Threshold Value</mat-radio-button>
              <mat-radio-button color="primary" class="mgnleft10" [value]=false id="Thresholdbelow" name="IsAboveThreshold">&lt;= Threshold Value</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field>
          <mat-select placeholder="Grok Column" formControlName="GrokColumn" name="GrokColumn" class="capitalize" required>
              <mat-option *ngFor = "let ele of grokColColl" [value]="ele.column_name">{{ele.column_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </form>
</div>
<div *ngIf="!dispAlertGrid && selectedIdx==0" mat-dialog-content>
  <form  [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch">
          <mat-form-field>
              <input matInput placeholder="Policy Name" formControlName="PolicyName" name="PolicyName" id="policy_name" required>
              <mat-error *ngIf="form.get('PolicyName').invalid">{{getErrorMessage(form.get('PolicyName'))}}</mat-error>
          </mat-form-field>
          <mat-form-field>
              <textarea matInput placeholder="Policy Description" formControlName="PolicyDesc" name="PolicyDesc" id="policy_description" required></textarea>
              <mat-error *ngIf="form.get('PolicyDesc').invalid">{{getErrorMessage(form.get('PolicyDesc'))}}</mat-error>
          </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field>
            <mat-select placeholder="Breach Severity" formControlName="BreachSeverity" name="BreachSeverity" class="capitalize" required>
              <mat-option [value]="'critical'">Critical</mat-option>
              <mat-option [value]="'warning'">Warning</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox *ngIf="form.get('IsContains').value" formControlName="IsContains" color="accent">Breach Text Contains</mat-checkbox>
          <mat-checkbox *ngIf="!form.get('IsContains').value" formControlName="IsContains" color="accent">Breach Text Not Contains</mat-checkbox>
          <mat-form-field>
              <input matInput placeholder="Minimum Breach Count" formControlName="MinBreachCount" name="MinBreachCount" id="minbreachcount" required>
              <mat-error *ngIf="form.get('MinBreachCount').invalid">{{getErrorMessage(form.get('MinBreachCount'))}}</mat-error>
              <mat-hint color="warn">Must exceed continuously {{form.get('MinBreachCount').value}} times to trigger email/SMS</mat-hint>
          </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="100">
          <textarea matInput placeholder="Breach Text" formControlName="BreachPattern" name="BreachPattern" id="BreachPattern" required></textarea>
          <mat-error *ngIf="form.get('BreachPattern').invalid">{{getErrorMessage(form.get('BreachPattern'))}}</mat-error>
        </mat-form-field>
      </div>
  </form>
</div>
<div *ngIf="!dispAlertGrid" mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="onClose()">Cancel</button>
  <button mat-raised-button [disabled]="isLoading || form.invalid" color="primary" (click)="alertPolicySubmit()">Save</button>
</div>
  
<!--(selectedTabChange)=onTabChange($event.index)-->

  <!-- <button mat-raised-button color="primary" (click)="createPolicy()">Create Policy</button> -->
