<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
  <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
  </mat-progress-spinner>
</div>
<!--Module Details Header-->
<div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px" class="bdrbtm1px mgntop5">
  <mat-icon  class="mgnleft10 pointer" (click)="goBack()">arrow_back_ios</mat-icon>
  <mat-icon class="mgnleft10" [ngClass]="{'apd-blue':modIcon.clrClass=='apd-blue', 'apd-brown':modIcon.clrClass=='apd-brown'}">{{modIcon.iconName}}</mat-icon>
  <span class="mgnleft10 font_16 capitalize">{{moduleTitle1}}</span>
  <span class="font_16 capitalize italic">{{moduleTitle2}}</span>
</div>
<!--Module Details body-->
<div fxLayout="row" fxLayoutAlign="center center" class="mgntop10" [style.max-height.px]="screenParam.height-100" [style.max-width.px]="screenParam.width-40" style="overflow: auto">
  <table mat-table #table [dataSource]="modColl" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="delete">
        <th style="padding: 0 5px" mat-header-cell *matHeaderCellDef></th>   
        <td style="padding: 0 5px" mat-cell *matCellDef="let element; let ix = index"> 
            <mat-icon *ngIf="ix==0" color="warn" class="pointer" (click)="deleteMMCard(element)">delete</mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th style="padding: 0 5px" mat-header-cell *matHeaderCellDef matTooltip="Edit allowed only for 1st row as uid is same"></th>   
      <td style="padding: 0 5px" mat-cell *matCellDef="let element; let ix = index"> 
          <mat-icon *ngIf="ix==0" color="primary" class="pointer" (click)="openModuleEdit(element)">edit</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="uid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Uid</th>
      <td mat-cell style="padding: 0 5px" *matCellDef="let element; " matTooltip="Added By: {{element.created_by}}, Added On: {{element.created_on|date:'mediumDate'}}">{{element.uid}}</td>
    </ng-container>
    <ng-container matColumnDef="log_grok">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Grok Name</th>
      <td mat-cell style="padding: 0 5px" *matCellDef="let element">{{element.log_grok}}</td>
    </ng-container>
    <ng-container matColumnDef="module_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Module Name</th>
      <td mat-cell style="padding: 0 5px" *matCellDef="let element" matTooltip="{{element.description}}">{{element.module_name}}</td>
    </ng-container>
    <ng-container matColumnDef="alert">
      <th style="padding: 0 10px" mat-header-cell *matHeaderCellDef matTooltip="Configure Alert"></th>   
      <td style="padding: 0 10px" mat-cell *matCellDef="let element" matTooltip="Configure Alert"> 
          <mat-icon matBadge="{{element?.policy_cnt}}" matBadgeColor="accent" color="warn" class="pointer" (click)="openAlertModule(element)">notifications_none</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="chart">
      <th mat-header-cell *matHeaderCellDef></th>
      <td style="padding: 0 10px" mat-cell *matCellDef="let element"  matTooltip="Draw Chart"> 
          <mat-icon color="primary" class="pointer" (click)="drawChart(element)">show_chart</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td style="padding: 0 10px" mat-cell *matCellDef="let element" matTooltip="Log Details"> 
          <mat-icon color="accent" class="pointer" (click)="openLogDetails(element)">assignment</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Data shown are for last one hour">Log Count</th>
      <td mat-cell style="padding: 0 5px" *matCellDef="let element" >
        <mat-icon *ngIf="element.count==undefined" class="fa-spin" color="warn">wb_sunny</mat-icon>
        <mat-chip-list *ngIf="element.count!=undefined">
          <mat-chip color="primary" matTooltip="Log received count is for last one hour" selected>{{element.count}}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
    <ng-container matColumnDef="critical">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Data shown are for last one hour">Critical</th>
      <td mat-cell style="padding: 0 5px" *matCellDef="let element" matTooltip="Alert-Critical">
        <mat-chip-list *ngIf="element.critical!=undefined">
          <mat-chip color="warn" selected>{{element.critical}}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
    <ng-container matColumnDef="warning">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Data shown are for last one hour">Warning</th>
      <td mat-cell style="padding: 0 5px" *matCellDef="let element" matTooltip="Alert-Warning">
        <mat-chip-list *ngIf="element.warning!=undefined">
          <mat-chip color="accent" selected>{{element.warning}}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="modCollDispColumn; sticky: true;"></tr>
    <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: modCollDispColumn;"></tr>
  </table>  
</div>

