<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<mat-card>
    <mat-card-title mat-dialog-title class="bdrbtm1px" fxLayout="row">
        <div fxFlex="80" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-icon  class="mgnleft10 pointer" matTooltip="Back" (click)="goBack()">arrow_back_ios</mat-icon>
            <mat-icon color="primary">{{titleIcon}}</mat-icon>    
            <mat-label color="primary" class="mgnleft10">{{title}}</mat-label>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center" fxLayoutGap="10px">
            <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="goBack()">cancel</mat-icon>
        </div>
    </mat-card-title>
    <mat-card-content>
        <section fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex="50">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <mat-label fxFlex="15">Total Rows: {{totalRows}}</mat-label>
                <mat-label fxFlex="15">Displayed Rows: {{qryResultSet.data.length}}</mat-label>
                <mat-label fxFlex="15">Filtered Rows: {{qryResultSet.filteredData.length}}</mat-label>
            </div>
            <div cdkScrollable id="qryGrid" [style.max-height.px]="screenParam==undefined?300:screenParam.height-200" style="overflow: auto" class="mat-elevation-z8">                    
                <table mat-table #table [dataSource]="qryResultSet" matSort>
                    <ng-container matColumnDef="{{col}}" *ngFor="let col of dispColumns; let i=index">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="capitalize">{{col}}</th>
                        <td mat-cell style="padding:0 5px !important" [ngStyle]="{'text-align': dataTypeColl[i]=='numeric' || dataTypeColl[i]?.includes('int') ? 'right' : 'left' }" *matCellDef="let element">
                            <span *ngIf="dataTypeColl[i]?.includes('timestamp')">{{element[col] | date: 'medium'}}</span>
                            <span class="alignright" *ngIf="dataTypeColl[i]=='numeric'">{{element[col] | number:'1.2-2'}}</span>
                            <span *ngIf="!dataTypeColl[i]?.includes('timestamp') && dataTypeColl[i]!='numeric' ">{{element[col]}}</span>  
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="dispColumns; sticky: true;"></tr>
                    <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: dispColumns;"></tr>
                </table>
            </div>
        </section>
    </mat-card-content>
</mat-card>