<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
  <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
  </mat-progress-spinner>
</div>
<!--System Details Module-->
<div flex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
<mat-card fxFlex="95" fxFlex.md="95" fxFlex.sm="100" fxFlex.xs="100"> 
  <mat-card-header>
    <div mat-card-avatar><mat-icon class="apd-brown">settings_system_daydream</mat-icon></div>
    <mat-card-title style="margin-top:4px!important;">{{cardTitle}}</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row" fxLayoutAlign="center start"> <!--Grid-->
      <div cdkScrollable id="system" [style.max-height.px]="screenParam==undefined?300:screenParam.height-100" style="overflow: auto" class="mat-elevation-z8">
        <table mat-table #table [dataSource]="systemDetailsColl" matSort>
          <ng-container matColumnDef="edit">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef> Edit </th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
                <mat-icon color="accent" class="pointer" (click)="editSystem(element)">edit</mat-icon>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element"> {{element.owner}}</td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>
          <ng-container matColumnDef="system_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>System Name</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.system_name}}<button disabled class="font_10  btn-sm mgnleft5" style="border-radius: 20px" matTooltip="System id">{{element.system_id}}</button> </td>
            <td mat-footer-cell *matFooterCellDef> {{systemDetailsColl.data.length}} {{systemDetailsColl.data.length==1?'system':'systems'}}</td>
          </ng-container>
          <ng-container matColumnDef="server">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>OS</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" (click)="moduleDetails('server',element)"> 
              <span *ngIf = "element.server != undefined" class="numbercircle pointer" [ngClass]="{'statusrunning':element.status.server=='Running','statusdown': element.status.server=='Down', 'statuspartial':element.status.server=='Partial'}" matTooltip="{{element.status.server}}">{{element.server}}</span> 
              <span *ngIf = "element.server == undefined">{{element.server}}</span> 
            </td>
            <td mat-footer-cell *matFooterCellDef  style="padding:0 5px !important">
              <span *ngIf="systemSubTotal['server']!=undefined" class="numbercircle statusothers">{{systemSubTotal['server']}}</span> 
            </td>
          </ng-container>
          <ng-container matColumnDef="application">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>App</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" (click)="moduleDetails('application',element)">
              <span *ngIf = "element.application != undefined" class="numbercircle pointer" [ngClass]="{'statusrunning':element.status.application=='Running','statusdown': element.status.application=='Down', 'statuspartial':element.status.application=='Partial'}" matTooltip="{{element.status.application}}">{{element.application}}</span> 
              <span *ngIf = "element.application == undefined">{{element.application}}</span> 
            </td>
            <td mat-footer-cell *matFooterCellDef style="padding:0 5px !important">
              <span *ngIf="systemSubTotal['application']!=undefined" class="numbercircle statusothers" >{{systemSubTotal['application']}}</span> 
            </td>
          </ng-container>
          <ng-container matColumnDef="database">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DB</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" (click)="moduleDetails('database',element)">
              <span *ngIf = "element.database != undefined" class="numbercircle pointer" [ngClass]="{'statusrunning':element.status.database=='Running','statusdown': element.status.database=='Down', 'statuspartial':element.status.database=='Partial'}" matTooltip="{{element.status.database}}">{{element.database}}</span> 
              <span *ngIf = "element.database == undefined">{{element.database}}</span> 
            </td>
            <td mat-footer-cell *matFooterCellDef style="padding:0 5px !important">
              <span *ngIf="systemSubTotal['database']!=undefined" class="numbercircle statusothers">{{systemSubTotal['database']}}</span> 
            </td>
          </ng-container>
          <ng-container matColumnDef="log">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Log</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" (click)="gotoLogModule('log',element)">
              <span *ngIf = "element.log != undefined" class="numbercircle pointer" [ngClass]="{'statusrunning':element.status.log=='Running','statusdown': element.status.log=='Down', 'statuspartial':element.status.log=='Partial'}" matTooltip="{{element.status.log}}">{{element.log}}</span> 
              <span *ngIf = "element.log == undefined">{{element.log}}</span> 
            </td>
            <td mat-footer-cell *matFooterCellDef style="padding:0 5px !important">
              <span *ngIf="systemSubTotal['log']!=undefined" class="numbercircle statusothers">{{systemSubTotal['log']}}</span> 
            </td>
          </ng-container>
          <ng-container matColumnDef="profiler">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Profiler</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" (click)="moduleDetails('profiler',element)"> 
              <span *ngIf = "element.profiler != undefined" class="numbercircle" [ngClass]="{'statusrunning':element.status.profiler=='Running','statusdown': element.status.profiler=='Down', 'statuspartial':element.status.profiler=='Partial'}" matTooltip="{{element.status.profiler}}">{{element.profiler}}</span> 
              <span *ngIf = "element.profiler == undefined">{{element.profiler}}</span> 
            </td>
            <td mat-footer-cell *matFooterCellDef style="padding:0 5px !important">
              <span *ngIf="systemSubTotal['profiler']!=undefined" class="numbercircle statusothers">{{systemSubTotal['profiler']}}</span> 
            </td>
          </ng-container>
          <ng-container matColumnDef="netstack">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>.NetProfiler</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" (click)="moduleDetails('netstack',element)">
              <span *ngIf = "element.netstack != undefined" class="numbercircle pointer" [ngClass]="{'statusrunning':element.status.netstack=='Running','statusdown': element.status.netstack=='Down', 'statuspartial':element.status.netstack=='Partial'}" matTooltip="{{element.status.netstack}}">{{element.netstack}}</span> 
              <span *ngIf = "element.netstack == undefined">{{element.netstack}}</span> 
            </td>
            <td mat-footer-cell *matFooterCellDef style="padding:0 5px !important">    
              <span *ngIf="systemSubTotal['netstack']!=undefined" class="numbercircle statusothers">{{systemSubTotal['netstack']}}</span> 
            </td>
          </ng-container>
          <ng-container matColumnDef="network">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Network</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" (click)="gotoLogModule('network',element)"> 
              <span *ngIf = "element.network != undefined" class="numbercircle pointer" [ngClass]="{'statusrunning':element.status.network=='Running','statusdown': element.status.network=='Down', 'statuspartial':element.status.network=='Partial'}" matTooltip="{{element.status.network}}">{{element.network}}</span> 
              <span *ngIf = "element.network == undefined">{{element.network}}</span> 
            </td>
            <td mat-footer-cell *matFooterCellDef style="padding:0 5px !important">
              <span *ngIf="systemSubTotal['network']!=undefined" class="numbercircle statusothers">{{systemSubTotal['network']}}</span> 
            </td>
          </ng-container> <!--style="padding:0 5px !important"-->
          <ng-container matColumnDef="created_on">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
            <td mat-cell *matCellDef="let element" matTooltip="{{element.first_name}}" style="text-align: end;"> {{element.created_on | date :'medium'}} </td>
            <td mat-footer-cell *matFooterCellDef  style="padding:0 5px !important">
              <span class="btn-sm" style="background:blue; border:1px solid white; padding:5px; color:white">Total Agents: {{totalAgents}}</span> 
            </td>
          </ng-container> 
          <ng-container matColumnDef="alerts">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Alerts</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip color="warn" *ngIf="element.alerts!=undefined && element.alerts.critical!=undefined" matTooltip="Critical" selected>{{element.alerts.critical}}</mat-chip>
                <mat-chip color="warn" *ngIf="element.alerts!=undefined && element.alerts.critical==undefined && element.alerts.warning!=undefined" matTooltip="Warning" selected>{{element.alerts.warning}}</mat-chip>
              </mat-chip-list>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
          <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>  
      </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
  </mat-card-content>
</mat-card>
</div>