<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">settings_system_daydream</mat-icon>    
    <mat-label color="primary" class="mgnleft10">Edit System Details ({{data.system_id}})</mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onNoClick()">cancel</mat-icon>
</div>
<div mat-dialog-content fxLayout="column">
    <mat-form-field>
        <input matInput placeholder="System Name" [(ngModel)]="data.system_name" name="data.system_name" id="system_name" required (blur)="validateStringEmpty()">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Manufacturer" [(ngModel)]="data.manufacturer" name="data.manufacturer" id="manufacturer" required (blur)="validateStringEmpty()">
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
  <button *ngIf ="!btnDisable" mat-raised-button color="primary" [mat-dialog-close]="data">Save</button>
  <div *ngIf ="btnDisable" class="clrred">Fields cannot be empty</div>
</div>