<mat-toolbar color="accent" fxLayout="row wrap" fxLayoutAlign="space-between center"> 
    <mat-icon class="mgnleft10 pointer md-18" (click)="goBack()">arrow_back_ios</mat-icon>
    <span>{{sumData?.sumCardData?.testname}}-({{sumData?.sumCardData?.testurl==null?'Transaction/Script':sumData?.sumCardData?.testurl}})</span>
    <span>Type: {{sumData?.sumCardData?.testtype}}</span>
    <span>Run Every: {{sumData?.sumCardData?.runEveryDispVal}}</span>
    <span>Status: {{sumData?.sumCardData?.status}}</span>
    <span *ngIf ="sumData?.measurementData!=undefined">Measurements: {{sumData?.measurementData.measurement}}</span>
</mat-toolbar>
<mat-chip-list *ngIf="toggleKeyMetrics" class="mgntop10" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <mat-chip color="primary" selected>Min: {{sumData?.measurementData?.min}} sec</mat-chip>
    <mat-chip color="primary" selected>Avg: {{sumData?.measurementData?.avg}} sec</mat-chip>
    <mat-chip color="accent" selected>Max: {{sumData?.measurementData?.max}} sec</mat-chip>
    <mat-chip color="warn" selected>Error: {{sumData?.measurementData?.error}}</mat-chip>
</mat-chip-list>
<mat-card>
    <mat-card-content>
        <mat-tab-group animationDuration="2000ms">
            <mat-tab label="Summary">
                <mat-icon *ngIf="toggleKeyMetrics" style="position:relative; float:right"(click)="toggleKeyMetrics=!toggleKeyMetrics" matTooltip="Hide Summary">keyboard_arrow_up</mat-icon> 
                <mat-icon *ngIf="!toggleKeyMetrics" style="position:relative; float:right"(click)="toggleKeyMetrics=!toggleKeyMetrics" matTooltip="Unhide Summary">keyboard_arrow_down</mat-icon> 
                <table *ngIf="toggleKeyMetrics" fxLayout="row" fxLayoutAlign="space-around center"class="font_14">
                    <tr class="capitalize font_14" style="background-color:orange">
                        <th class="font_14" style="padding:0.25rem"></th>
                        <th class="font_14" style="padding:0.25rem">Load Time(sec)</th>
                        <th class="font_14" style="padding:0.25rem">First Byte(sec)</th>
                        <th class="font_14" style="padding:0.25rem">Start Render(sec)</th>
                        <th class="font_14" style="padding:0.25rem">DOM Elements</th>
                        <th class="font_14" style="padding:0.25rem">Time(sec)</th>
                        <th class="font_14" style="padding:0.25rem">Requests</th>
                        <th class="font_14" style="padding:0.25rem">Bytes In(kb)</th>
                        <th class="font_14" style="padding:0.25rem">Time(sec)</th>
                        <th class="font_14" style="padding:0.25rem">Requests</th>
                        <th class="font_14" style="padding:0.25rem">Bytes In(kb)</th>
                    </tr>
                    <tr *ngIf="sumData?.firstByte">
                        <td class="font_14 apd-left clraqua" style="padding:0.25rem" >First Time View</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.loadtime}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.ttfb}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.render}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.domelements}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.doctime}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.requestsdoc}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.bytesindoc}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.fullyloaded}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.requests}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.bytesin}}</td>
                    </tr>
                    <tr *ngIf="sumData.firstByte && sumData.firstByte.rbytesindoc">
                        <td class="font_14 apd-left clraqua" style="padding:0.25rem">Repeat View</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.rloadtime}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.rttfb}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.rrender}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.rdomelements}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.rdoctime}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.requestsdoc}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.rbytesindoc}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.rfullyloaded}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.rrequests}}</td>
                        <td class="font_14" style="padding:0.25rem">{{sumData.firstByte.rbytesin}}</td>
                    </tr>
                </table>
                <div *ngIf="!iframeLoaded" [style.height.px]="toggleKeyMetrics?screenChange.height-290:screenChange.height-160" fxLayoutAlign="center center">loading har.....<mat-icon class="fa-spin">autorenew</mat-icon></div>
                <div *ngIf="sumData?.urls?.harUrl" fxLayout="row">
                    <iframe fxFlex="100" [style.height.px]="toggleKeyMetrics?screenChange.height-290:screenChange.height-160" [ngStyle]="{'display':dispIframe}" frameBorder="0" [src]="sumData.urls.harUrl" ></iframe>
                </div>
            </mat-tab>
            <mat-tab *ngIf="sumData?.sumCardData?.testtype=='url'" label="Screenshot">
                <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="10px" [style.height.px]="toggleKeyMetrics?screenChange.height-200:screenChange.height-160">
                    <div *ngIf="sumData?.urls?.fview_screen" fxFlex="45">
                            First View ({{sumData.firstByte.loadtime}} sec)<br/>
                            <img width="90%" height="90%" frameBorder="0" [src]="sumData.urls.fview_screen"/>
                    </div>
                    <div *ngIf="sumData?.urls?.rview_screen && sumData?.urls?.rview_screen!=null"  fxFlex="45">
                            Repeat View ({{sumData.firstByte.rloadtime}} sec) <br/>
                            <img width="90%" height="90%" frameBorder="0" [src]="sumData.urls.rview_screen"/>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Content Breakdown">
                <iframe width="100%" [style.height.px]="toggleKeyMetrics?screenChange.height-210:screenChange.height-160" frameBorder="0" [src]="sumData.urls.breakdown"></iframe>
            </mat-tab>
            <mat-tab label="Domains">
                    <iframe width="100%" [style.height.px]="toggleKeyMetrics?screenChange.height-210:screenChange.height-160"  frameBorder="0" [src]="sumData.urls.domains"></iframe>
            </mat-tab>
            <mat-tab label="Details">
                <iframe width="100%" [style.height.px]="toggleKeyMetrics?screenChange.height-210:screenChange.height-160"  frameBorder="0" [src]="sumData.urls.details"></iframe>
            </mat-tab>
            <mat-tab label="Performance Review">
                <iframe width="100%" [style.height.px]="toggleKeyMetrics?screenChange.height-210:screenChange.height-160"  frameBorder="0" [src]="sumData.urls.checklist"></iframe>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
