@import '~@angular/material/theming';
@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';
@include mat-core();

$indigo-dark-primary: mat-palette($mat-blue, 500);
$indigo-light-primary: mat-palette($mat-indigo, 700);
$indigo-light-accent: mat-palette($mat-orange, 500);
$light-warn: mat-palette($mat-red,500);
$indigo-dark-accent: mat-palette($mat-amber, A200);
$dark-warn: mat-palette($mat-red, A100);

$indigo-dark-theme: mat-dark-theme($indigo-dark-primary, $indigo-dark-accent, $dark-warn);
$indigo-light-theme: mat-light-theme($indigo-light-primary, $indigo-light-accent, $light-warn);

$brown-dark-primary: mat-palette($mat-brown,300);
$brown-light-primary: mat-palette($mat-brown,700);
$brown-accent: mat-palette($mat-amber, A200);
$brown-light-accent: mat-palette($mat-amber, 600);

$brown-dark-theme: mat-dark-theme($brown-dark-primary, $brown-accent, $dark-warn);
$brown-light-theme: mat-light-theme($brown-light-primary, $brown-light-accent, $light-warn);
$calendarTheme: mat-dark-theme($indigo-light-primary, $brown-light-accent, $dark-warn);

@include mat-datetimepicker-theme($calendarTheme);

.darkbrowntheme{
    @include angular-material-theme($brown-dark-theme);
}

.lightbrowntheme{
    @include angular-material-theme($brown-light-theme);
}

.darkindigotheme{
    @include angular-material-theme($indigo-dark-theme);
}

.lightindigotheme{
    @include angular-material-theme($indigo-light-theme);
}
