<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
      
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="accent">settings</mat-icon>
    <mat-label color="primary" class="mgnleft10">{{configTitle}}</mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>

<div mat-dialog-content *ngIf="canConfigScenario">
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-label fxFlex="100">Uploaded jmx File :  {{jmeterScnName}}</mat-label>
    </div> -->

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field fxFlex="45">
            <mat-select placeholder="Select Scripts" [ngModel]="scenarioName" name="Select Script" class="capitalize" (selectionChange)="setScenario($event.value)">
                <mat-option class="capitalize" *ngFor = "let ele of jMeterScrData | keyvalue" [value]="ele.key">{{ele.key}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-label fxFlex="45">Total Vuser  :  {{totalUsers}}</mat-label>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field fxFlex="45">
            <input matInput type="number" [(ngModel)]="jMeterScrData[scenarioName].runThreads" placeholder="Number of Threads (Users):" name="threads" id="threads" required (change)="onChangeThreads(scenarioName)">
        </mat-form-field>
        <mat-form-field fxFlex="45">
            <input matInput [(ngModel)]="jMeterScrData[scenarioName]['rampTimeFormat']" #rampTimeFormat placeholder="Ramp up period (hr:min:sec)" pattern="(?:[01]|2(?![4-9])){1}\d{1}:[0-5]{1}\d{1}" name="rampTimeFormat" id="rampTimeFormat" (blur)="validateTime(jMeterScrData[scenarioName]['rampTimeFormat'],'#rampTimeFormat')" required>
        </mat-form-field>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-checkbox fxFlex="45" [(ngModel)]="jMeterScrData[scenarioName].scheduler" class="capitalize" color="warn" [checked]="jMeterScrData[scenarioName].scheduler" (change)="onChange('scheduler')">Scheduler</mat-checkbox>
        <mat-checkbox fxFlex="45" [(ngModel)]="jMeterScrData[scenarioName].forever" class="capitalize" color="warn" [checked]="jMeterScrData[scenarioName].forever" (change)="onChange('forever')">Forever</mat-checkbox>
    </div>

    <div *ngIf="jMeterScrData[scenarioName].scheduler && scenarioName != undefined" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field fxFlex="45">
            <input matInput [(ngModel)]="jMeterScrData[scenarioName]['durationTimeFormat']" placeholder="Duration (hr:min:sec)" pattern="(?:[01]|2(?![4-9])){1}\d{1}:[0-5]{1}\d{1}" name="durationTimeFormat" id="durationTimeFormat" required>
        </mat-form-field>
        <mat-form-field fxFlex="45">
            <input matInput type="number" [(ngModel)]="jMeterScrData[scenarioName].delay" placeholder="delay in seconds" name="delay" id="delay" required>
        </mat-form-field>
    </div>

    <div *ngIf = "!jMeterScrData[scenarioName].scheduler && !jMeterScrData[scenarioName].forever" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field fxFlex="45">
            <input matInput type="number" [(ngModel)]="jMeterScrData[scenarioName].loop" placeholder="Loop Count" name="loop" id="loop" required>
        </mat-form-field>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClose()">Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="jmeterScnUpdate()">Update</button>
</div>
