<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<mat-card>
    <mat-card-title mat-dialog-title class="bdrbtm1px" fxLayout="row">
        <div fxFlex="50" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-icon  class="mgnleft10 pointer" matTooltip="Back" (click)="goBack()">arrow_back_ios</mat-icon>
            <mat-icon color="primary">{{titleIcon}}</mat-icon>    
            <mat-label color="primary" class="mgnleft10">{{title}}</mat-label>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center" fxLayoutGap="10px">
            <!-- <mat-icon *ngIf="qryResultSet?.data?.length>0" color="primary" class="pointer" matTooltip="Save Query" (click)="openQrySave()">save</mat-icon> -->
            <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="goBack()">cancel</mat-icon>
        </div>
    </mat-card-title>

    <div *ngIf="ltRunData">
        <div class="mgntop5" fxLayout="row">
            <mat-form-field>
                <mat-select placeholder="Report Name" name="ReportName" class="capitalize" (selectionChange)="onLoadReport($event.value)">
                    <mat-option class="capitalize" *ngFor = "let ele of ltRunData; let i = index" [value]="ele">{{ele.reportname}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="mgntop5" fxLayout="row">
            <table mat-table #table [dataSource]="ltSelRunData" class="mat-elevation-z8" matSort style="max-height:200px;">

                <ng-container matColumnDef="Report ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Report ID</th>
                    <td mat-cell style="padding:0 5px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="">{{element.runid}}</td>
                </ng-container>

                <ng-container matColumnDef="Report Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Report Name</th>
                    <td mat-cell style="padding:0 5px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="">{{element.reportname}}</td>
                </ng-container>

                <ng-container matColumnDef="Start Time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
                    <td mat-cell style="padding:0 5px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="">{{element.runstarttime | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                </ng-container>

                <ng-container matColumnDef="End Time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>End Time</th>
                    <td mat-cell style="padding:0 5px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="">{{element.runendtime | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                </ng-container>

                <ng-container matColumnDef="Run Duration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Run Duration</th>
                    <td mat-cell style="padding:0 5px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="">{{element.runtime}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="ltScenariosReportColumn; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: ltScenariosReportColumn;"></tr>
            </table>
        </div>
    </div>

    <div *ngIf="ltLiveRunData" class="mgntop5" fxLayout="row" fxLayoutAlign="center center" style="max-height:200px;">
        <table mat-table #table [dataSource]="ltSelRunData" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="Report ID">
                <th style="padding:0 5px !important; text-align: center" mat-header-cell *matHeaderCellDef mat-sort-header>Report ID</th>
                <td mat-cell style="padding:0 5px !important; text-align: center" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="">{{element.runid}}</td>
            </ng-container>

            <ng-container matColumnDef="Report Name">
                <th style="padding:0 5px !important; text-align: center" mat-header-cell *matHeaderCellDef mat-sort-header>Report Name</th>
                <td mat-cell style="padding:0 5px !important; text-align: center" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="">{{element.reportname}}</td>
            </ng-container>

            <ng-container matColumnDef="Run Start Time">
                <th style="padding:0 5px !important; text-align: center" mat-header-cell *matHeaderCellDef mat-sort-header>Run Start Time</th>
                <td mat-cell style="padding:0 5px !important; text-align: center" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="">{{element.runstarttime | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
            </ng-container>

            <ng-container matColumnDef="Elapsed Time">
                <th style="padding:0 5px !important; text-align: center" mat-header-cell *matHeaderCellDef mat-sort-header>Elapsed Time</th>
                <td mat-cell style="padding:0 5px !important; text-align: center" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="">{{convertSecToTime(AutoStartTime)}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="ltScenariosLiveReportColumn; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: ltScenariosLiveReportColumn;"></tr>
        </table>
    </div>

    <div mat-dialog-actions *ngIf="selRunData && selRunData.is_url_exist" class="col-lg-12 mgntop5">
        <button mat-raised-button color="primary" cdkFocusInitial (click)="openReport()">{{saveButtonTitle}}</button>
        <button *ngIf="ltLiveRunData" mat-raised-button color="warn" cdkFocusInitial (click)="stopJMeterTest()">Stop Run</button>
    </div>

</mat-card>    