<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
  <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
  </mat-progress-spinner>
</div>

<!-- LoadTest component page -->
<mat-tab-group [selectedIndex]="selectedIdx" (selectedTabChange)=onTabChange($event.index)>
  <mat-tab label='Script'> 
    <ng-template mat-tab-label>
      <mat-icon color="primary" class="mgnrgt5" style="transform: rotate(90deg)">pets</mat-icon>
      Scripts
    </ng-template>
    <ng-template matTabContent style="overflow:hidden;">
      <div class="mgntop5 mgnleft10 " fxLayout="row" fxLayoutAlign="start center" >
          <label class="mat-elevation-z4" for="fileupload" style="background-color: blue; color:white; padding:0px 5px 7px 5px; border-radius: 5px;">Upload JMeter Scripts<mat-icon class="mgnleft10" style="position:relative; top:5px">cloud_upload</mat-icon> </label>
          <input type="file" id="fileupload" multiple ng2FileSelect (change)="uploadJmeter($event)" style="display: none" accept=".csv, .jmx" placeholder="Upload file" >
      </div>
      <!-- <div class="mgntop5 mgnleft10" fxLayout="row" fxLayoutAlign="center start"  [style.max-height.px]="screenParam.height-150" [style.max-width.px]="screenParam.width-50"> -->
        <div cdkScrollable id="script" fxLayout="row" fxLayoutAlign="center start" [style.max-height.px]="screenParam==undefined?300:screenParam.height-150" style="overflow: auto" class="mat-elevation-z8 mgntop5 mgnleft10">
          <table mat-table #table [dataSource]="ltScriptCard" matSort>
          <ng-container matColumnDef="script_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Script Name</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="Added By: {{element.created_by}}&#13;Added On: {{element.created_on|date:'mediumDate'}}">{{element.script_name}}</td>
          </ng-container>
          
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mapped Scenarios</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="Added By: {{element.created_by}}&#13;Added On: {{element.created_on|date:'mediumDate'}}">{{element.count}}</td>
          </ng-container>

          <ng-container matColumnDef="mapped_scenarios">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Scenario Names</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="Added By: {{element.created_by}}&#13;Added On: {{element.created_on|date:'mediumDate'}}">{{element.mapped_scenarios}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="LtScriptsCollDispColumn; sticky: true;"></tr>
          <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: LtScriptsCollDispColumn;"></tr>
        </table>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Scenarios">
    <ng-template mat-tab-label>
      <mat-icon color="accent" class="mgnrgt5" style="transform: rotate(90deg)">pets</mat-icon>
      Scenarios
    </ng-template>
    <ng-template matTabContent>
      <!-- <div class="mgntop5" fxLayout="row" fxLayoutAlign="center start" [style.max-height.px]="screenParam.height-100" [style.max-width.px]="screenParam.width-40"> -->
      <div cdkScrollable id="scen" fxLayout="row" fxLayoutAlign="center start" [style.max-height.px]="screenParam==undefined?300:screenParam.height-150" style="overflow: auto" class="mat-elevation-z8 mgntop5 mgnleft10">
        <table mat-table #table [dataSource]="ltScenCard" matSort>
          <ng-container matColumnDef="delete">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
                <mat-icon *ngIf="entItem.is_owner" color="warn" class="pointer" (click)="deleteLtScen(element)">delete</mat-icon>
                <mat-icon *ngIf="!entItem.is_owner" color="accent" matTooltip="Only owner can delete">delete_forever</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="Configure">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
                <mat-icon *ngIf="entItem.is_owner" color="warn" class="pointer" (click)="openConfigSetting(element)">settings</mat-icon>
                <mat-icon *ngIf="!entItem.is_owner" color="accent" matTooltip="Only owner can delete">settings_forever</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="scenario_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Scenario Name</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="Added By: {{element.created_by}}&#13;Added On: {{element.created_on|date:'mediumDate'}}">{{element.scenario_name}}</td>
          </ng-container>
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mapped Scripts</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="Added By: {{element.created_by}}&#13;Added On: {{element.created_on|date:'mediumDate'}}">{{element.count}}</td>
          </ng-container>
          <ng-container matColumnDef="mapped_scripts">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Script Names</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="Added By: {{element.created_by}}&#13;Added On: {{element.created_on|date:'mediumDate'}}">{{element.mapped_scripts}}</td>
          </ng-container>
          <ng-container matColumnDef="chart">
            <th mat-header-cell *matHeaderCellDef></th>
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"  matTooltip="Draw Chart"> 
                <mat-icon color="primary" class="pointer" (click)="drawLTChart(element,i,'DetailsPage')">show_chart</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="modified_on">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Modified</th>
              <td mat-cell style="padding:0 5px !important" *matCellDef="let element"matTooltip="{{element.modified_on|date:'medium'}}">{{element.modified_on|date:'mediumDate'}}</td>
          </ng-container>
          <ng-container matColumnDef="last_run">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Ran On</th>
              <td mat-cell style="padding:0 5px !important" *matCellDef="let element"matTooltip="{{element.last_run|date:'medium'}}">{{element.last_run|date:'mediumDate'}}</td>
          </ng-container>
          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="pointer" style="padding:0 10px!important" mat-cell *matCellDef="let element" [matTooltipClass]="'mat-tooltip'"  matTooltip="{{element.active?'Running':'Execute Scenario'}}"> 
              <div style="padding: 10px; border:1px solid white; border-radius: 50%" [ngClass]="{'bgclrgreen': element.active,'bgclrred': !element.active}" (click)="RunLTScenario(element, 'RunningMode')"></div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="LtScenariosCollDispColumn; sticky: true;"></tr>
          <tr [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" mat-row *matRowDef="let row; columns: LtScenariosCollDispColumn;"></tr>
        </table>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
