<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
      
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="accent">settings</mat-icon>
    <mat-label color="primary" class="mgnleft10">{{configTitle}}</mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>

<div mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <!-- <mat-label fxFlex="10" class="mgnleft40 font_20" style="opacity:0.8"></mat-label> -->
        <mat-label fxFlex="45" style="opacity:0.8">Region</mat-label>
        <mat-label fxFlex="45" style="opacity:0.8">Distribution</mat-label>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" *ngFor = "let ele of JmeterRegionData">
        <mat-checkbox fxFlex="45" [(ngModel)]="ele.showRegion" class="capitalize" color="warn" [checked]="ele.showRegion">{{ele.region}}</mat-checkbox>
        <mat-form-field fxFlex="45">
            <input matInput [(ngModel)]="ele.distribution" name="Distribution" id="Distribution" required>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-form-field fxFlex="100">
            <input matInput [(ngModel)]="ReportName" placeholder="Report Name" name="ReportName" id="ReportName" required>
        </mat-form-field>
    </div>    
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClose()">Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="runScenario()">Run</button>
</div>
