<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center" class="apdmodal" style="display:block; ">
    <mat-progress-spinner color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<!--Change Password-->
<div  flex fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="center">
    <form [formGroup]="form">
    	<mat-card class="mat-elevation-z10 mgntop10"> 
        <mat-card-header>
          <div mat-card-avatar><mat-icon class="apd-brown-sidenav animate">lock</mat-icon></div>
          <mat-card-title>Change Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex-column">
            <mat-form-field>
              <input matInput placeholder="Old Password" formControlName="oldPassword" [type]="hide ? 'password' : 'text'" name="oldPassword" id="oldPassword" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide old password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="form.get('oldPassword').invalid">{{getErrorMessage(form.get('oldPassword'),'oldPassword')}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="New Password" formControlName="newPassword" [type]="hide ? 'password' : 'text'" name="newPassword" id="newPassword" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="form.get('newPassword').invalid">{{getErrorMessage(form.get('newPassword'),'newPassword')}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Confirm Password" formControlName="confirm" [type]="hide ? 'password' : 'text'" name="confirm" id="confirm" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf="form.invalid && form.controls.confirm.dirty" mat-button color="warn" class="font_12">New and Confirm Password are not the same</button>
            <div fxLayout="row" fxLayoutAlign="space-evenly" >
            <button fxFlex="33" id=btnUpd [disabled]="isLoading || form.invalid" mat-raised-button color="primary" (click)="chgPassword()">Update</button>
            <button type="button" fxFlex="33" id=btnCancel  mat-raised-button color="accent" (click) = "onClickCancel()" >Cancel</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
