<div  flex fxLayout="column" fxLayoutGap="10px">
  <!-- Loader section -->
  <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
      <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
      </mat-progress-spinner>
  </div>
  <!--Alert Configuration fxFlex="50" fxFlex.md="70" fxFlex.sm="90" fxFlex.xs="90"-->
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card  class="mat-elevation-z10 mgntop10"> 
      <mat-card-header>
        <div mat-card-avatar><mat-icon class="apd-blue animate">notifications_active</mat-icon></div>
        <mat-card-title *ngIf="!openAlert" style="margin-top:4px!important;">{{formTitle}}<span class="font_12">({{slaSettingId}})</span></mat-card-title>
        <mat-card-title *ngIf="openAlert" style="margin-top:4px!important;">{{openAlertTitle}}</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="!openAlert" >
        <form class="flex-column" [formGroup]="form">
          <mat-form-field>
            <input type="number" matInput placeholder="Max Try Duration (in Min)" formControlName="tryCountDurationInMin" name="tryCountDurationInMin" id="tryCountDurationInMin" required>
            <mat-hint align="start"><strong>Max duration within which Max Try Setting will try to alert the breach</strong></mat-hint>
            <mat-error *ngIf="form.get('tryCountDurationInMin').invalid">{{getErrorMessage(form.get('tryCountDurationInMin'),'tryCountDurationInMin')}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Alert Trigger Frequency (in Min)" formControlName="triggerAlertEveryInMin" name="triggerAlertEveryInMin" id="triggerAlertEveryInMin">
            <mat-hint align="start"><strong>For continuous failures, alerts are triggered once every set value</strong></mat-hint>
            <mat-error *ngIf="form.get('triggerAlertEveryInMin').invalid">{{getErrorMessage(form.get('triggerAlertEveryInMin'),'triggerAlertEveryInMin')}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Max Try Count" formControlName="maxTryCount" name="maxTryCount" id="maxTryCount">
            <mat-hint align="start"><strong>Maximum no. of times alerts will try on failure</strong></mat-hint>
            <mat-error *ngIf="form.get('maxTryCount').invalid">{{getErrorMessage(form.get('maxTryCount'),'maxTryCount')}}</mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-content *ngIf="dispAlertGrid && openAlert" fxLayout="column" fxLayoutAlign="center"> <!--Alert Grid-->
        <div cdkScrollable id="alert" [style.max-height.px]="screenParam==undefined?300:screenParam.height-150" style="overflow: auto" class="mat-elevation-z8">
          <table mat-table #table [dataSource]="alertColl" matSort>
            <ng-container matColumnDef="edit">
              <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef> Edit </th>   
              <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
                  <mat-icon *ngIf="!element.is_deleted" color="accent" class="pointer" (click)="editAlert(element)">edit</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef> Del </th>   
              <td style="padding:0 10px!important" mat-cell *matCellDef="let element">
                  <mat-icon *ngIf="!element.is_deleted" color="warn" class="pointer" matTooltip="Remove User" (click)="removeAlert(element)">delete</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="alert_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert Type</th>
              <td mat-cell style="padding:0 5px !important" *matCellDef="let element"> {{element.alert_type}} </td>
            </ng-container>
            <ng-container matColumnDef="email_mobile">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email/Mobile </th>
              <td mat-cell style="padding:0 5px !important" *matCellDef="let element"> {{element.email_mobile}} </td>
            </ng-container>
            <ng-container matColumnDef="validated_on" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell style="padding:0 5px !important;" *matCellDef="let element"> {{element.validated_on == null ? 'Not Verified' : 'Verified'}}</td>
            </ng-container>
            <ng-container matColumnDef="OTP Status" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> OTP Status </th>
              <td  mat-cell style="padding:0 5px !important;" *matCellDef="let element" >
                <span *ngIf="element.validated_on==null && element.alert_type=='sms' && !element.isOTPVerified" class="pointer font_12 clrblue" (click)="element.isOTPVerified=true;"><a>Verify</a></span>
                <span *ngIf="element.validated_on==null && element.alert_type=='sms' && !element.isOTPVerified && showResend" class="mgnleft5 pointer font_12 clrblue" (click)="showResend=false; resendOTP(element)"><a>Resend</a></span>
                <span *ngIf="element.isOTPVerified"><input type="text" style="width:100px;" [(ngModel)]="otpNumber"></span>
                <span *ngIf="element.isOTPVerified" class="mgnleft5 pointer" (click)="element.isOTPVerified=false;checkOTP(element.sla_setting_id)"><mat-icon color="primary" class="md-18">check_circle</mat-icon></span>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>  
        </div>
      </mat-card-content>
      <!--EMail/SMS Update -->
      <mat-card-content *ngIf="!dispAlertGrid && openAlert" fxLayout="column" fxLayoutAlign="center"> 
        <form [formGroup]="alertForm" class="flex-column"> 
          <mat-radio-group fxLayoutGap="10px" aria-label="Select an option" formControlName="alertType" (change)="selectEmailOrSMS()">
            <mat-radio-button value="email" >Email</mat-radio-button>
            <mat-radio-button value="sms">SMS</mat-radio-button>
          </mat-radio-group>
          <mat-form-field *ngIf="alertForm.get('alertType').value == 'email'">
            <input  matInput placeholder="Email" formControlName="email" name="email" id="email">
            <mat-error *ngIf="alertForm.get('email').invalid">{{getErrMsgAlert(alertForm.get('email'),'email')}}</mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="alertForm.get('alertType').value != 'email'">
              <input matInput placeholder="Mobile No. for SMS" formControlName="sms" name="sms" id="sms">
            <mat-error *ngIf="alertForm.get('sms').invalid">{{getErrMsgAlert(alertForm.get('sms'),'sms')}}</mat-error>
            <mat-hint>Must start with '+'</mat-hint>
          </mat-form-field>
        </form>  
      </mat-card-content>
      <mat-card-actions *ngIf="!openAlert"> 
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <button id="btnsavenext" type="submit" [disabled]="isLoading || form.invalid" mat-raised-button color="primary" (click)="save('saveNext')" matTooltip ="Save and configure Email/SMS">Save & Next</button>
          <button id="btnsaveclose" type="submit" [disabled]="isLoading || form.invalid" mat-raised-button color="primary" (click)="save('close')">Save & Close</button>
          <button id="btnnext" type="button"  mat-raised-button color="primary" (click)="openAlertModal()" matTooltip = "Configure Email/SMS" >Next</button>
          <button id="btncancel" type="button"  mat-raised-button color="accent" (click)="closeAlertModal()">Cancel</button>
        </div>
      </mat-card-actions>
      <mat-card-actions *ngIf="dispAlertGrid && openAlert"> 
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <button id="btnsavenext" type="submit" [disabled]="isLoading || form.invalid" mat-raised-button color="primary" (click) ="addAlert()">Add Alert Email/Mobile</button>
          <button id="btncancel" type="button"  mat-raised-button color="accent" (click)="closeAlertModal()">Cancel</button>
        </div>
      </mat-card-actions>
      <mat-card-actions *ngIf="!dispAlertGrid && openAlert"> 
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <button id="btnsaveadd" type="button" [disabled]="isLoading || alertForm.invalid" mat-raised-button color="primary" (click)="saveAlert('add')">Save & Add</button>
          <button id="btnsavefinish" type="submit" [disabled]="isLoading || alertForm.invalid" mat-raised-button color="primary" (click)="saveAlert('finish')">Save & Finish</button>
          <button id="btncancel" type="button"  mat-raised-button color="accent" (click)="cancelAlert()">Cancel</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>