<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button color="primary"><mat-icon>{{titleIcon}}</mat-icon></button>
    <mat-label color="primary" class="mgnleft10">{{title}}</mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div mat-dialog-content>
    <form  [formGroup]="form">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="45">
                <input matInput placeholder="Country" formControlName="Country" name="Country" id="Country" required>
                <mat-error *ngIf="form.get('Country').invalid">{{getErrorMessage(form.get('Country'),'Country')}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="45">
                <input matInput placeholder="State" formControlName="State" name="State" id="State">
                <mat-error *ngIf="form.get('State').invalid">{{getErrorMessage(form.get('State'),'State')}}</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="45">
                <input matInput placeholder="Region" formControlName="Region" name="Region" id="Region">
                <mat-error *ngIf="form.get('Region').invalid">{{getErrorMessage(form.get('Region'),'Region')}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="45">
                <input matInput placeholder="Zone" formControlName="Zone" name="Zone" id="Zone">
                <mat-error *ngIf="form.get('Zone').invalid">{{getErrorMessage(form.get('Zone'),'Zone')}}</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="45">
                <input matInput placeholder="City" formControlName="City" name="City" id="City" required>
                <mat-error *ngIf="form.get('City').invalid">{{getErrorMessage(form.get('City'),'City')}}</mat-error>
            </mat-form-field>
            <div fxLayout="column" fxFlex="45">
                <mat-checkbox formControlName="IsPrivate" id="City">Private</mat-checkbox>
                <mat-hint class="font_12" color="primary">(checked) - available for this user only.</mat-hint>
                <mat-hint class="font_12" color="primary">(not checked) - available for all the users</mat-hint>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <button mat-raised-button color="accent" (click)="onClose()">Cancel</button>
    <button *ngIf="!isLoading && form.valid" color="primary" mat-raised-button (click)="saveAVLoc()">Save</button>
</div>