<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button color="primary"><mat-icon>notifications</mat-icon></button>
    <mat-label color="primary" class="mgnleft10">Configure Alert for Availability Location ({{data.testId}}) </mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div *ngIf="showGrid" mat-dialog-content fxLayout="row" fxLayoutAlign="center center">
    <table mat-table #table [dataSource]="alertColl" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="edit">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef> Edit </th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
                <mat-icon *ngIf="!element.is_deleted" color="accent" class="pointer" (click)="editAlert(element)">edit</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef>Del </th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element">
                <mat-icon *ngIf="!element.is_deleted" color="warn" class="pointer" matTooltip="Remove Alert" (click)="removeAlert(element)">delete</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="alert_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert Type</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.alert_type}} </td>
        </ng-container>
        <ng-container matColumnDef="email_mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email/Mobile </th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.email_mobile}} </td>
        </ng-container>
        <ng-container matColumnDef="validated_on" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
            <td mat-cell style="padding:0 5px !important;" *matCellDef="let element">{{element.validated_on == null ? 'Not Verified' : 'Verified'}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
</div>
<div *ngIf="!showGrid" mat-dialog-content fxLayout="row" fxLayoutAlign="start center">
    <form [formGroup]="form" fxLayout="row wrap" fxLayoutAlign="start center"> 
        <mat-radio-group fxLayoutGap="10px" aria-label="Select an option" formControlName="alertType" (change)="selectEmailOrSMS()">
            <mat-radio-button value="email" >Email</mat-radio-button>
            <mat-radio-button value="sms">SMS</mat-radio-button>
        </mat-radio-group>
        <mat-form-field *ngIf="form.get('alertType').value == 'email'" fxFlex="100" class="mgntop10">
            <input  matInput placeholder="Email" formControlName="email" name="email" id="email">
            <mat-error *ngIf="form.get('email').invalid">{{getErrMsgAlert(form.get('email'),'email')}}</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="form.get('alertType').value != 'email'" fxFlex="100" class="mgntop10">
            <input matInput placeholder="Mobile No. for SMS" formControlName="sms" name="sms" id="sms">
            <mat-error *ngIf="form.get('sms').invalid">{{getErrMsgAlert(form.get('sms'),'sms')}}</mat-error>
            <mat-hint>Must start with '+'</mat-hint>
        </mat-form-field>
    </form>  
</div>
<div *ngIf="showGrid" mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <button mat-raised-button color="accent" (click)="onClose()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addAlerts()">Add Alerts</button>
</div>
<div *ngIf="!showGrid" mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly">
    <button id="btncancel" type="button"  mat-raised-button color="accent" (click)="cancelAlert()">Cancel</button>
    <button id="btnsaveadd" type="button" [disabled]="isLoading || form.invalid" mat-raised-button color="primary" (click)="saveAlert('add')">Save & Add</button>
    <button id="btnsavefinish" type="submit" [disabled]="isLoading || form.invalid" mat-raised-button color="primary" (click)="saveAlert('finish')">Save & Finish</button>
</div>
