<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<div flex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <mat-card fxFlex="80" fxFlex.md="95" fxFlex.sm="100" fxFlex.xs="100"> 
        <mat-card-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-icon-button color="primary" style="float:left;"><mat-icon>{{titleIcon}}</mat-icon></button>
            <mat-label color="primary">{{title}}</mat-label>
            <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
        </mat-card-title>
        <mat-card-content [style.max-height.px]="screenParam.height-150" style="overflow: auto;">
            <form  [formGroup]="form" >
                <mat-tab-group [(selectedIndex)]="selectedTabIndex">
                    <mat-tab label="Test Details">
                            <div fxLayout="column" fxLayoutAlign="start stretch">
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                    <mat-form-field fxFlex="70">
                                        <input matInput placeholder="Test Name" formControlName="TestName" name="TestName" id="TestName" required>
                                        <mat-error *ngIf="form.get('TestName').invalid">{{getErrorMessage(form.get('TestName'),'TestName')}}</mat-error>
                                    </mat-form-field>
                                    <mat-checkbox formControlName="IsActive">Activate</mat-checkbox>                    
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                    <mat-form-field fxFlex="70">
                                        <input matInput placeholder="Test URL" formControlName="TestUrl" name="TestUrl" id="TestUrl">
                                        <mat-error *ngIf="form.get('TestUrl').invalid">{{getErrorMessage(form.get('TestUrl'),'TestUrl')}}</mat-error>
                                        <mat-hint>Only absolute URLs are supported</mat-hint>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-select placeholder="Request Method" formControlName="ReqMethod" name="ReqMethod" class="capitalize" (selectionChange)="onChangeReqMethod($event.value)">
                                            <mat-option class="capitalize" *ngFor = "let ele of reqMethodColl" [value]="ele">{{ele}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                <mat-checkbox formControlName="TestHeadMethodFirst">Test Head-Method first</mat-checkbox>
                            </div>
                            <mat-tab-group [selectedIndex]="selectedSubTabIdx">
                                <mat-tab label="Authorization">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="mgntop10">
                                        <div fxLayout="column" fxLayoutAlign="start space-between" fxFlex="50">
                                            <mat-form-field>
                                                <mat-select placeholder="Authorization Type" formControlName="Authorization" name="ContentType">
                                                    <mat-option *ngFor = "let ele of authorizationColl" [value]="ele">{{ele}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field *ngIf="form.get('Authorization').value=='Basic Auth'">
                                                <input matInput placeholder="User Name" formControlName="UserName" name="UserName" id="UserName" required>
                                            </mat-form-field>
                                            <mat-form-field *ngIf="form.get('Authorization').value=='Basic Auth'">
                                                <input matInput placeholder="Enter password" formControlName="Password" [type]="hide ? 'password' : 'text'" required>
                                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                </button>
                                            </mat-form-field>
                                            <mat-form-field *ngIf="form.get('Authorization').value=='JWT Token'" fxFlex="100">
                                                <textarea matInput placeholder="JWT Token" formControlName="Token" name="Token" id="Token" required></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50">
                                            <button mat-raised-button color="primary" (click)="updateReq()">Update Request</button>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Headers {{reqHeaders.length}}">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                        <mat-icon *ngIf="reqHeadCollapse" class="pointer" color="accent" (click)="reqHeadCollapse=!reqHeadCollapse" matTooltip="Expand Header">add</mat-icon>
                                        <mat-icon *ngIf="!reqHeadCollapse" class="pointer" color="accent" (click)="reqHeadCollapse=!reqHeadCollapse"  matTooltip="Collapse Header">remove</mat-icon>
                                        <mat-label>Request Header</mat-label>
                                        <mat-icon color="primary" class="pointer" (click)="addArrReqHeader()" matTooltip="Add Header">add_box</mat-icon>
                                    </div>
                                    <div *ngIf="!reqHeadCollapse" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                        <div formArrayName="ReqHeaders" fxFlex="100">
                                            <div *ngFor="let ele of getReqHeadersControls(); let i = index">
                                                <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between center">
                                                    <mat-icon *ngIf="ele.get('Name').value=='Content-Type'" color="accent"  style="opacity:0.5" matTooltip="Managed by Body Tab">remove_circle</mat-icon>    <mat-icon *ngIf="ele.get('Name').value=='Authorization'" color="accent"  style="opacity:0.5" matTooltip="Managed by Authorization Tab">remove_circle</mat-icon>
                                                    <mat-icon *ngIf="ele.get('Name').value!='Authorization' && ele.get('Name').value!='Content-Type'" color="warn" (click)="removeReqHeaderElement(i)" class="pointer"matTooltip="Remove Header">remove_circle</mat-icon>
                                                    <mat-form-field fxFlex="25">
                                                        <input matInput placeholder="Name" formControlName="Name" name="Name{{i}}" id="Name{{i}}" required>
                                                    </mat-form-field>
                                                    <mat-form-field fxFlex="65">
                                                        <input matInput placeholder="Value" formControlName="Value" name="Value{{i}}" id="Value{{i}}" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Body" [disabled]="isBodyDisabled" matTooltip="{{isBodyDisabled?'Enabled only for POST,PUT,WSDL':''}}">
                                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="mgntop5 mgnbtm5">
                                            <mat-radio-group name="BodyType" formControlName="BodyType" aria-label="Select an option" fxLayoutAlign="start center" fxLayoutGap="20px" (change)="onChangeBodyType($event.value)">
                                                <mat-radio-button color="primary" [value]="'form-data'" id="formData" selected>form-data</mat-radio-button>
                                                <mat-radio-button color="primary" [value]="'raw'" id="raw">raw</mat-radio-button>
                                            </mat-radio-group>
                                            <mat-form-field *ngIf="form.get('BodyType').value=='raw'">
                                                <mat-select placeholder="Content Type" formControlName="ContentType" name="ContentType" (selectionChange)="onChangeContentType($event.value)">
                                                    <mat-option *ngFor = "let ele of contentTypeColl" [value]="ele">{{ele}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="column">
                                            <div *ngIf="form.get('BodyType').value=='raw'">
                                                <mat-form-field fxFlex="100">
                                                    <textarea style="min-height: 100px;" matInput placeholder="Request Body Content" formControlName="ReqBody" name="ReqBody" id="ReqBody"></textarea>
                                                    <mat-error *ngIf="form.get('ReqBody').invalid">{{getErrorMessage(form.get('ReqBody'),'ReqBody')}}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="form.get('BodyType').value=='form-data'" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                                <mat-icon *ngIf="reqParamCollapse" class="pointer" color="accent" (click)="reqParamCollapse=!reqParamCollapse" matTooltip="Expand Parameter">add</mat-icon>
                                                <mat-icon *ngIf="!reqParamCollapse" class="pointer" color="accent" (click)="reqParamCollapse=!reqParamCollapse"  matTooltip="Collapse Parameter">remove</mat-icon>
                                                <mat-label>Request Parameter</mat-label>
                                                <mat-icon color="primary" class="pointer" (click)="addArrReqParam()" matTooltip="Add Parameter">add_box</mat-icon>
                                            </div>
                                            <div *ngIf="form.get('BodyType').value=='form-data'">
                                                <div formArrayName="ReqParams" fxFlex="100">
                                                    <div *ngFor="let ele of getReqParamsControls(); let i = index">
                                                        <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between center">
                                                            <mat-icon color="warn" (click)="removeReqParamElement(i)" class="pointer"matTooltip="Remove Header">remove_circle</mat-icon>
                                                            <mat-form-field fxFlex="25">
                                                                <input matInput placeholder="Parameter Name" formControlName="ParamName" name="ParamName{{i}}" id="ParamName{{i}}" required>
                                                            </mat-form-field>
                                                            <mat-form-field fxFlex="65">
                                                                <input matInput placeholder="Parameter Value" formControlName="ParamValue" name="ParamValue{{i}}" id="ParamValue{{i}}" required>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </mat-tab>
                                <mat-tab label="Dynamic Variables">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                                        <mat-label>Variables</mat-label>
                                        <mat-icon class="mat-elevation-z4 pointer"  color="primary" (click)="addArrVariables()" matTooltip="Add Variables">add_box</mat-icon>
                                        <div style="color:brown">Variables can be used in request using @@varName@@ supported in headers, qry parameters and body content</div>
                                    </div>
                                    <div formArrayName="Variables" fxFlex="100">
                                        <div *ngFor="let ele of form.get('Variables')['controls']; let i = index">
                                            <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                                <mat-icon color="warn" (click)="removeVariableElement(i)" class="mat-elevation-z4 pointer" style="border-radius:100%" matTooltip="Remove Header">remove_circle</mat-icon>
                                                <mat-form-field fxFlex="10">
                                                    <input matInput placeholder="Variable Name" formControlName="Name" name="Name{{i}}" id="Name{{i}}" required>
                                                </mat-form-field>
                                                <mat-form-field fxFlex="50">
                                                    <textarea matInput placeholder="Java Script" formControlName="Script" name="Script{{i}}" id="Script{{i}}" required></textarea>
                                                </mat-form-field>
                                                <mat-icon fxFlext="10" color="accent" class="pointer" matTooltip="Evaluate" (click)="evaluate(i)">functions</mat-icon>
                                                <div fxFlex="30" [ngClass]="{'clrred':ele.invalid, 'clrblue':ele.valid}">{{ele.get('Result').value}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                    </mat-tab>
                    <mat-tab label="Schedule">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                            <mat-form-field>
                                <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix matTooltip="From Date"></mat-datetimepicker-toggle>
                                <mat-datetimepicker #datetimePicker type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                <input matInput formControlName="StartDate" [matDatetimepicker]="datetimePicker" autocomplete="false" (dateChange)="changeDateTime()" placeholder="From Date">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix matTooltip="To Date"></mat-datetimepicker-toggle>
                                <mat-datetimepicker #datetimePicker1 type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                <input matInput formControlName="EndDate" [matDatetimepicker]="datetimePicker1" autocomplete="false" (dateChange)="changeDateTime()" placeholder="To Date">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder="Run Every(in min)" formControlName="RunEvery" name="RunEvery" class="capitalize">
                                    <mat-option class="capitalize" *ngFor = "let ele of runEveryTypes" [value]="ele">{{ele}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>        
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                            <mat-form-field >
                                <input matInput type="time" placeholder="Start Time" formControlName="StartTime" name="StartTime" id="StartTime">
                            </mat-form-field>
                            <mat-form-field >
                                <input matInput type="time" placeholder="End Time" formControlName="EndTime" name="EndTime" id="EndTime">
                            </mat-form-field>
                            <mat-form-field >
                                <input matInput placeholder="Min Breach Count" formControlName="MinBreachCnt" name="MinBreachCnt" id="MinBreachCnt" required>
                                <mat-error *ngIf="form.get('MinBreachCnt').invalid">{{getErrorMessage(form.get('MinBreachCnt'),'MinBreachCnt')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="mgntop5" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                            <mat-form-field>
                                <mat-select placeholder="Country" formControlName="Country" name="Country" id="Country" class="capitalize" (selectionChange)="onCountryChange($event.value)">
                                    <mat-option>--select country--</mat-option>
                                    <mat-option class="capitalize" *ngFor = "let ele of countryWise" [value]="ele">{{ele}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select class="capitalize" placeholder="Cities" formControlName="SelectedCities" multiple (selectionChange)="onToggleSelCities($event.value)">
                                    <mat-select-trigger class="capitalize">
                                    {{selectedCityList.length>0 ? selectedCityList[0].city : ''}}
                                    <span *ngIf="selectedCityList?.length>1" >
                                        (+{{selectedCityList.length - 1}} {{selectedCityList?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                    </mat-select-trigger>
                                    <mat-option class="capitalize" *ngFor="let ele of nodeList | filter: 'country':countrySelVal"  [value]="ele">
                                        <span class="capitalize" matTooltip="State Name">{{ele.state}}{{ele.state==''?'':'-'}}</span>
                                        <span class="capitalize" matTooltip="City and No. of Agents available in this location">{{ele.city}}-{{ele.count}}</span>
                                        <span *ngIf="ele.status=='down'" matTooltip="Currently not available"><mat-icon color="warn">cancel</mat-icon></span>
                                        <span *ngIf="ele.status!='down'" matTooltip="Currently Available"><mat-icon color="primary">check_circle</mat-icon></span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-label *ngFor="let ele of selectedCityList">{{ele.country}}-{{ele.city}} | </mat-label>        
                    </mat-tab>
                    <mat-tab label="Response" >
                        <div *ngIf="respContent!=undefined && !respContent?.error" >
                            <h3 fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                                <span>Success: <span [ngClass]="{'clrred':!respContent.success, 'clrgreen':respContent.success}">{{respContent.success}}</span> </span>
                                <span>Resp Time: <span [ngClass]="{'clrred':respTime>=1000, 'clrgreen':respTime<1000}">{{respTime}} ms</span> </span>
                                <span matTooltip="Used Bandwidth and approximate only">Bandwidth:{{bandwidth}}</span>
                                <span>Status Code:<span [ngClass]="{'clrred':!respContent.success, 'clrgreen':respContent.success}">{{respContent.status}}</span></span>
                                <span>StatusText:<span [ngClass]="{'clrred':!respContent.success, 'clrgreen':respContent.success}">{{respContent.statusText}}</span></span>
                            </h3>
                            <h5 *ngIf="respContent.reqVariables != undefined" style="color:brown">Request Variables: {{respContent.reqVariables|json}}</h5>
                            <h5 class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
                                <span>Redirected: {{respContent.redirected}}</span>
                                <span class="mgnleft10">Redirected Url: {{respContent.redirectedUrl}}</span>
                                <span class="mgnleft10">Requested Url: {{respContent.reqUrl}}</span>
                            </h5>
                            <h4 >Headers</h4>
                            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="30px" class="bdrbtm1px">
                                <div *ngFor="let header of objectKeys(respContent.headers); let i=index" class="mgnbtm5">
                                    <div fxLayout="column">
                                        <span style="color:blue">{{header}}</span>
                                        <span style="color:red">{{respContent.headers[header].join()}}</span>
                                    </div>
                                </div>
                            </div>
                            <h4 >Response Body</h4>
                            <p>{{respContent.body}}</p>
                        </div>
                        <div *ngIf="respContent!=undefined && respContent?.error">
                            <h3 class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                                <span>Success: <span [ngClass]="{'clrred':!respContent.success, 'clrgreen':respContent.success}">{{respContent.success}}</span> </span>
                                <span>Error Code:<span [ngClass]="{'clrred':!respContent.success, 'clrgreen':respContent.success}">{{respContent.err.code}}</span></span>
                                <span>Error No:<span [ngClass]="{'clrred':!respContent.success, 'clrgreen':respContent.success}">{{respContent.err.errno}}</span></span>
                            </h3>
                            <h4>Error Message</h4>
                            <p>{{respContent.err.message}}</p>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </form>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <button mat-raised-button color="accent" (click)="onClose()">Cancel</button>
            <button *ngIf="!isLoading && form.valid" color="primary" mat-raised-button (click)="saveAVM()">Save</button>
            <button *ngIf="!isLoading && form.valid" color="accent" mat-raised-button (click)="sendReq()">Test Request</button>
        </mat-card-actions>
    </mat-card>
</div>
                    <!--(change)="testTypeSel($event.value) [selectedIndex]="selectedIdx" (selectedTabChange)=onTabChange($event.index)"-->
        <!-- <div fxLayout="column">
            <mat-label *ngIf="!isPostOrPut" class="font_12">Req Parameters are allowed for request method POST & PUT</mat-label>
            <mat-label *ngIf="!isWSDL" class="font_12">Req body is allowed for request method WSDL</mat-label>
        </div> -->
                                <!-- <div *ngIf="isPostOrPut && !reqParamCollapse"> -->
                                        <!-- class="bdrbtm1px" -->