<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
  <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
  </mat-progress-spinner>
</div>
<mat-tab-group animationDuration="2000ms" [selectedIndex]="selectedIdx" (selectedTabChange)=onTabChange($event.index)>
  <mat-tab label="RUM">
    <ng-template mat-tab-label>
      <mat-icon color="primary" class="mgnrgt5">supervisor_account</mat-icon>
      Real User
    </ng-template>
    <ng-template matTabContent>
      <div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="position-top" matTooltip ="{{(entItem?.owner_id==usrDet?.unq_id||entItem?.e_id==0)?'Add RUM':'Only Owner can Add'}}">
          <button id="addrum" mat-fab color="primary" (click)="openModuleAdd()" [disabled]="entItem.e_id!=0&&entItem?.owner_id!=usrDet?.unq_id">
              <mat-icon class="pointer">add_circle_outline</mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon color="accent">supervisor_account</mat-icon>    
          <mat-label color="primary" >Real User Monitoring (RUM) Module</mat-label>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center start">
        <div cdkScrollable id="rum" [style.max-height.px]="screenParam.height-120" style="overflow: auto" class="mat-elevation-z8 mgntop5">
        <table mat-table #table [dataSource]="modRumColl" matSort>
          <ng-container matColumnDef="delete">
              <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
              <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"> 
                  <mat-icon id="del{{i}}" *ngIf="entItem.is_owner" color="warn" class="pointer" (click)="deleteRumCard(element)">delete</mat-icon>
                  <mat-icon *ngIf="!entItem.is_owner" color="accent" matTooltip="Only owner can delete">delete_forever</mat-icon>
              </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"> 
                <mat-icon id="edit{{i}}" color="primary" class="pointer" (click)="openModuleEdit(element)">edit</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="download">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"> 
                <mat-icon id="downloadurl{{i}}" color="accent" class="pointer" matTooltip="Download RUM Configuration to configure in HTML" (click)="downloadUrl(element)">cloud_download</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="uid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Uid</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="Added By: {{element.created_by}}&#13;Added On: {{element.created_on|date:'mediumDate'}}">{{element.uid}}</td>
          </ng-container>
          <ng-container matColumnDef="module_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Module Name</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" matTooltip="{{element.description}}">{{element.module_name}}</td>
          </ng-container>
          <ng-container matColumnDef="alert">
            <th mat-header-cell *matHeaderCellDef></th>
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element" > 
              <mat-icon *ngIf="element.sla_id!=undefined" color="warn" [matTooltipClass]="'mat-tooltip'" matTooltip="Threshold Setting&#13;Warning: {{element.warning_threshold_value}} seconds&#13;Critical: {{element.critical_threshold_value}} seconds&#13;Min breach count: {{element.min_breach_count}}">notifications_none</mat-icon>
              <mat-icon *ngIf="element.sla_id==undefined" color="accent" matTooltip="Alerts not set,use edit to set the alert">notifications_off</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="chart">
            <th mat-header-cell *matHeaderCellDef></th>
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"  matTooltip="Draw Chart"> 
                <mat-icon id="drawchart{{i}}" color="primary" class="pointer" (click)="drawChart(element,'rum')">show_chart</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="critical">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Critical</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" matTooltip="Alert-Critical">
              <mat-chip-list *ngIf="element.critical!=undefined">
                <mat-chip color="warn" selected>{{element.critical}}</mat-chip>
              </mat-chip-list>
            </td>
          </ng-container>
          <ng-container matColumnDef="warning">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Warning</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element" matTooltip="Alert-Warning">
              <mat-chip-list *ngIf="element.warning!=undefined">
                <mat-chip color="primary" selected>{{element.warning}}</mat-chip>
              </mat-chip-list>
            </td>
          </ng-container>
          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef></th>
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element" [matTooltipClass]="'mat-tooltip'"  matTooltip="LastReceivedOn: {{element.last_appedo_received_on == undefined ? '' : element.last_appedo_received_on | date: 'shortTime'}}&#13;Status: {{element.user_status==undefined ?'Not Available': element.user_status}}"> 
              <div style="padding: 10px; border:1px solid white; border-radius: 50%" [ngClass]="{'bgclrgreen': element.active,'bgclrred': !element.active}"></div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="modRumCollDispColumn; sticky: true;"></tr>
          <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: modRumCollDispColumn;"></tr>
        </table>  
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="SUM">
    <ng-template mat-tab-label>
      <mat-icon color="accent" class="mgnrgt5">android</mat-icon>
      Synthetic User
    </ng-template>
    <ng-template matTabContent>
      <div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="position-top" matTooltip ="{{(entItem?.owner_id==usrDet?.unq_id||entItem?.e_id==0)?'Add SUM':'Only Owner can Add'}}">
          <button id="addsum" mat-fab color="primary" (click)="openSumModuleAdd()" [disabled]="entItem?.e_id!=0&&entItem?.owner_id!=usrDet?.unq_id">
              <mat-icon class="pointer">add_circle_outline</mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon color="accent">android</mat-icon>    
          <mat-label color="primary" >Synthetic User Monitoring (SUM) Module</mat-label>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center start">
        <div cdkScrollable id="sum" [style.max-height.px]="screenParam.height-120" style="overflow: auto" class="mat-elevation-z8 mgntop5">
        <table mat-table #table [dataSource]="modSumColl" matSort>
          <ng-container matColumnDef="delete">
              <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
              <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"> 
                  <mat-icon id="del{{i}}" *ngIf="entItem.is_owner" color="warn" class="pointer" (click)="deleteSUMCard(element)">delete</mat-icon>
                  <mat-icon *ngIf="!entItem.is_owner" color="accent" matTooltip="Only owner can delete">delete_forever</mat-icon>
              </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"> 
                <mat-icon id="edit{{i}}" color="primary" class="pointer" (click)="openSumModuleEdit(element)">edit</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="test_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Test Id</th>
            <td mat-cell style="padding:0 5px 0 0px !important" *matCellDef="let element" matTooltip="Added By: {{element.created_by}}, Added On: {{element.created_on|date:'mediumDate'}}">{{element.test_id}}</td>
          </ng-container>
          <ng-container matColumnDef="testtype">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell style="padding:0 5px 0 0px !important" *matCellDef="let element">{{element.testtype}}</td>
          </ng-container>
          <ng-container matColumnDef="testname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Test Name</th>
            <td mat-cell style="padding:0 5px 0 0px!important" *matCellDef="let element" matTooltip="{{element.testurl}}">{{element.testname}}</td>
          </ng-container>
          <ng-container matColumnDef="runevery">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Run Every</th>
            <td mat-cell style="padding:0 5px 0 0px !important" *matCellDef="let element" matTooltip="{{element.repeatview}}">{{element.runevery}} min</td>
          </ng-container>
          <ng-container matColumnDef="status" >
            <th mat-header-cell *matHeaderCellDef class="aligncenter" mat-sort-header>Status</th>
            <td style="padding:0 5px 0 0px !important" mat-cell *matCellDef="let element" >
            <mat-chip-list>
              <mat-chip color="primary" class="font_12" [matTooltipClass]="'mat-tooltip'" matTooltip="Start Date: {{element.start_date|date:'medium'}}&#13;End Date: {{element.end_date|date:'medium'}}&#13;Last Ran at: {{element.last_run_detail|date:'medium'}}" selected>{{element.status}}</mat-chip>
            </mat-chip-list>
          </td>
          </ng-container>
          <ng-container matColumnDef="chart">
            <th mat-header-cell *matHeaderCellDef></th>
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"  matTooltip="Draw Chart"> 
                <mat-icon id="drawchart{{i}}" color="primary" class="pointer" (click)="drawChart(element,'sum')">show_chart</mat-icon>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="modSumCollDispColumn; sticky: true;"></tr>
          <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: modSumCollDispColumn;"></tr>
        </table>  
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="AVM">
    <ng-template mat-tab-label>
      <mat-icon color="primary" class="mgnrgt5">favorite</mat-icon>
      Availability Monitor
    </ng-template>
    <ng-template matTabContent>
      <div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="position-top" matTooltip ="{{(entItem?.owner_id==usrDet?.unq_id||entItem?.e_id==0)?'Add AVM':'Only Owner can Add'}}">
          <button id="addavm" mat-fab color="primary" (click)="openAvmModuleAdd()" [disabled]="entItem?.owner_id!=usrDet?.unq_id&&entItem?.e_id!=0">
              <mat-icon class="pointer">add_circle_outline</mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon color="accent">favorite</mat-icon>    
          <mat-label color="primary">Availability Monitoring (AVM) Module</mat-label>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center start">
        <div cdkScrollable id="avm" [style.max-height.px]="screenParam.height-120" style="overflow: auto" class="mat-elevation-z8 mgntop5">
        <table mat-table #table [dataSource]="modAvmColl" matSort>
          <ng-container matColumnDef="delete">
              <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
              <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"> 
                  <mat-icon id="del{{i}}" *ngIf="entItem.is_owner" color="warn" class="pointer" (click)="deleteAvm(element)">delete</mat-icon>
                  <mat-icon *ngIf="!entItem.is_owner" color="accent" matTooltip="Only owner can delete">delete_forever</mat-icon>
              </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"> 
                <mat-icon id="edit{{i}}" color="primary" class="pointer" (click)="openAvmModuleEdit(element)">edit</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="avm_test_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>AVM Id</th>
            <td mat-cell style="padding:0 5px 0 0px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="Added By: {{element.first_name}}&#13;Added On: {{element.created_on|date:'mediumDate'}}">{{element.avm_test_id}}</td>
          </ng-container>
          <ng-container matColumnDef="alert">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index" matTooltip="SLA Policy"> 
                <mat-icon id="alert{{i}}"  matBadge="{{element?.policy_cnt}}" matBadgeColor="primary" color="accent" class="pointer" (click)="openAVMAlertModule(element)">notifications_none</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="testname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Test Name</th>
            <td mat-cell style="padding:0 5px 0 0px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="Start Date: {{element.start_date|date:'medium'}}&#13;End Date: {{element.end_date|date:'medium'}}">{{element.testname}}</td>
          </ng-container>
          <ng-container matColumnDef="testurl">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Url</th>
            <td mat-cell style="padding:0 5px 0 0px!important" *matCellDef="let element" matTooltip="{{element.testurl}}">{{element.testurl}}</td>
          </ng-container>
          <ng-container matColumnDef="frequency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Run Every</th>
            <td mat-cell style="padding:0 5px 0 0px !important" *matCellDef="let element" class="aligncenter">{{element.frequency}} {{element.frequency==1?'min':'mins'}}</td>
          </ng-container>
          <ng-container matColumnDef="status_text">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Last received Status">Status</th>
            <td style="padding:0 5px 0 0px !important" mat-cell *matCellDef="let element; let idx=index" class="aligncenter" matTooltip="Mapped Location&#13;{{element.locations}}">{{element.status_text}}</td>
          </ng-container>
          <ng-container matColumnDef="chart">
            <th mat-header-cell *matHeaderCellDef></th>
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"  matTooltip="Draw Chart"> 
                <mat-icon id="drawchart{{i}}" color="primary" class="pointer" (click)="drawChart(element,'avm')">show_chart</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef></th>
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"  matTooltip="AVM Details"> 
                <mat-icon id="avmdetails{{i}}" color="accent" class="pointer" (click)="openAVMDetails(element)">description</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="breach_cnt">
              <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
              <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index" >
                  <mat-icon id="breachdetails{{i}}" *ngIf="element.breach_cnt>0" matBadge="{{element?.breach_cnt}}" matBadgeColor="warn" color="primary" class="pointer" matTooltip="Breaches in Last 1 Hour" (click)="openAVMBreachDetails(element)">alarm</mat-icon>
                  <mat-icon *ngIf="element.breach_cnt==0" color="primary" matTooltip="No breach found in last 1 hour">alarm</mat-icon>
              </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef></th>
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element" [matTooltipClass]="'mat-tooltip'"  matTooltip="Last Received On: {{element.last_received_on == undefined ? '' : element.last_received_on | date: 'medium'}}&#13;Status: {{element.status_text}}"> 
              <div style="padding: 10px; border:1px solid white; border-radius: 50%" [ngClass]="{'bgclrgreen': element.last_available_status,'bgclrred': !element.last_available_status}"></div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="modAvmCollDispColumn; sticky: true;"></tr>
          <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: modAvmCollDispColumn;"></tr>
        </table>  
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="AVL">
    <ng-template mat-tab-label>
      <mat-icon color="warn" class="mgnrgt5 fa-spin">language</mat-icon>
      Availability Location
    </ng-template>
    <ng-template matTabContent>
      <div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="position-top" matTooltip ="{{(entItem?.owner_id==usrDet?.unq_id||entItem?.e_id==0)?'Add AVL':'Only Owner can Add'}}">
          <button id="addavl" mat-fab color="primary" (click)="openAvlModuleAdd()" [disabled]="entItem?.owner_id!=usrDet?.unq_id&&entItem?.e_id!=0">
              <mat-icon class="pointer">add_circle_outline</mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon color="accent">language</mat-icon>    
          <mat-label color="primary">Availability Location (AVL) Module</mat-label>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center start">
        <div cdkScrollable id="avl" [style.max-height.px]="screenParam.height-120" style="overflow: auto" class="mat-elevation-z8 mgntop5">
          <table mat-table #table [dataSource]="modAvlColl" matSort>
            <ng-container matColumnDef="delete">
              <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
              <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"> 
                  <mat-icon id="del{{i}}" *ngIf="entItem.is_owner" color="warn" class="pointer" (click)="deleteAvLoc(element.agent_id)">delete</mat-icon>
                  <mat-icon *ngIf="!entItem.is_owner" color="accent" matTooltip="Only owner can delete">delete_forever</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="alert">
              <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
              <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"> 
                  <mat-icon id="alert{{i}}" color="primary" class="pointer" matTooltip="Configure Alerts" (click)="openAlert(element)">notifications</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="agent_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Agent Id</th>
              <td mat-cell style="padding:0 5px 0 0px !important" *matCellDef="let element" [matTooltipClass]="'mat-tooltip'" matTooltip="Added By: {{element.first_name}}&#13;Added On: {{element.created_on|date:'mediumDate'}} &#13;Registered Location: {{element.registered_location}}">{{element.agent_id}}</td>
            </ng-container>
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
              <td mat-cell style="padding:0 5px 0 0px !important" *matCellDef="let element" class="capitalize">{{element.country}}</td>
            </ng-container>
            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
              <td mat-cell style="padding:0 5px 0 0px!important" *matCellDef="let element" matTooltip="Region:{{element.region}}&#13;Zone:{{element.zone}}" class="capitalize">{{element.state}}</td>
            </ng-container>
            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
              <td mat-cell style="padding:0 5px 0 0px !important" class="capitalize" *matCellDef="let element">{{element.city}}</td>
            </ng-container>
            <ng-container matColumnDef="ip_address" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>IP Address</th>
              <td style="padding:0 5px 0 0px !important" mat-cell *matCellDef="let element; let idx=index">{{element.ip_address}}</td>
            </ng-container>
            <ng-container matColumnDef="latitude">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</th>
              <td style="padding:0 5px 0 0px !important" mat-cell *matCellDef="let element; let idx=index">{{element.latitude}}</td>
            </ng-container>
            <ng-container matColumnDef="longitude">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</th>
              <td style="padding:0 5px 0 0px !important" mat-cell *matCellDef="let element; let idx=index">{{element.longitude}}</td>
            </ng-container>
            <ng-container matColumnDef="last_requested_on">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Seen At</th>
              <td style="padding:0 5px 0 0px !important" mat-cell *matCellDef="let element; let idx=index">{{element.last_requested_on|date:'medium'}}</td>
            </ng-container>
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef></th>
              <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"  matTooltip="Agent Details"> 
                  <mat-icon id="agentdetails{{i}}" color="accent" class="pointer" (click)="openAgentDetails(element)">description</mat-icon>
              </td>
            </ng-container>
              <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef></th>
              <td style="padding:0 10px!important" mat-cell *matCellDef="let element" [matTooltipClass]="'mat-tooltip'"  matTooltip="Last Received On: {{element.last_requested_on == undefined ? '' : element.last_requested_on | date: 'medium'}}&#13;Last Responded On:{{element.last_responded_on| date:'medium'}}&#13;Status: {{element.status=='down' ?'Not Running': 'Running'}}"> 
                <div style="padding: 10px; border:1px solid white; border-radius: 50%" [ngClass]="{'bgclrgreen': element.status!='down','bgclrred': element.status=='down'}"></div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="modAvlCollDispColumn; sticky: true;"></tr>
            <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: modAvlCollDispColumn;"></tr>
          </table>  
        </div>
      </div>
    </ng-template>
    </mat-tab>
</mat-tab-group>