<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">{{titleIcon}}</mat-icon>    
    <mat-label color="primary" class="mgnleft10">{{title}}</mat-label>
    <mat-icon *ngIf="!showDownloadIcon" color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
    <mat-icon *ngIf="showDownloadIcon" color="warn" class="pointer" matTooltip="Close dialog" (click)="closeWithReturn()">cancel</mat-icon>
</div>
<div mat-dialog-content>
    <form  [formGroup]="form">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="RumName" name="RumName" id="RumName" required>
                <mat-error *ngIf="form.get('RumName').invalid">{{getErrorMessage(form.get('RumName'))}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Description" formControlName="RumDesc" name="RumDesc" id="RumDesc" required></textarea>
                <mat-error *ngIf="form.get('RumDesc').invalid">{{getErrorMessage(form.get('RumDesc'))}}</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <mat-form-field fxFlex="30">
                <input type="number" matInput placeholder="Warning Threshold" formControlName="WarnThreshold" name="WarnThreshold" id="warning" required>
                <mat-error *ngIf="form.get('WarnThreshold').invalid">{{getErrorMessage(form.get('WarnThreshold'))}}</mat-error>
                <mat-hint color="primary">Time in Seconds</mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex="30">
                <input type="number" matInput placeholder="Critical Threshold" formControlName="CriticalThreshold" name="CriticalThreshold" id="critical" required>
                <mat-error *ngIf="form.get('CriticalThreshold').invalid">{{getErrorMessage(form.get('CriticalThreshold'))}}</mat-error>
                <mat-hint color="primary">Time in Seconds</mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex="30">
                <input type="number" matInput placeholder="Minimum Breach" formControlName="MinBreachCount" name="MinBreachCount" id="minbreachcount" required>
                <mat-error *ngIf="form.get('MinBreachCount').invalid">{{getErrorMessage(form.get('MinBreachCount'))}}</mat-error>
                <mat-hint color="warn">Must exceed continuously {{form.get('MinBreachCount').value}} times to trigger email/SMS</mat-hint>
            </mat-form-field>
        </div>
        <div class="mgntop5" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <mat-radio-group formControlName="IsAboveThreshold" aria-label="Select an option">
                    <mat-radio-button color="primary" [value]=true  id="Thresholdabove" name="IsAboveThreshold">&gt;=Threshold Value</mat-radio-button>
                    <!-- <mat-radio-button color="primary" class="mgnleft10" [value]=false id="Thresholdbelow" name="IsAboveThreshold">&lt;= Threshold Value</mat-radio-button> -->
                </mat-radio-group>
            </div>
            <!-- <mat-form-field *ngIf="dispProcessName">
                <mat-select formControlName="ProcessName" name="ProcessName" class="capitalize" (selectionChange)="onChangeProcessName($event.value)">
                    <mat-option class="capitalize" *ngFor = "let ele of processNameColl" [value]="ele.process_name">{{ele.process_name}}</mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <button *ngIf="!showDownloadIcon" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
    <button *ngIf="showDownloadIcon" mat-raised-button color="accent" (click)="closeWithReturn()">Cancel</button>
    <button *ngIf="!isLoading && form.valid  && showSave" color="primary" mat-raised-button (click)="addUpdateRum()">Save</button>
    <button mat-raised-button matTooltip="Click to download RUM configuration to html file"> <mat-icon *ngIf="showDownloadIcon" color="primary" class="pointer" (click)="downloadUrl('RUM')">cloud_download</mat-icon></button>
</div>