<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button color="primary"><mat-icon>{{titleIcon}}</mat-icon></button>
    <mat-label color="primary" class="mgnleft10">{{title}}</mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div mat-dialog-content>
    <form  [formGroup]="form">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <mat-form-field>
                <input matInput placeholder="Test Name" formControlName="TestName" name="TestName" id="TestName" required>
                <mat-error *ngIf="form.get('TestName').invalid">{{getErrorMessage(form.get('TestName'))}}</mat-error>
            </mat-form-field>
            <mat-radio-group name="TestType" formControlName="TestType" aria-label="Select an option" fxLayoutAlign="start center" fxLayoutGap="20px" (change)="testTypeSel($event.value)">
                <mat-radio-button color="primary" [value]="'URL'" id="testtypeurl" selected>URL</mat-radio-button>
                <mat-radio-button color="primary" [value]="'SCRIPT'" id="testtypescript">Script</mat-radio-button>
                <mat-radio-button color="primary" [value]="'TRANSACTION'" id="testtypetrans">Transaction</mat-radio-button>
            </mat-radio-group>
            <mat-form-field *ngIf="testType=='URL'">
                <input matInput placeholder="Test URL" formControlName="TestUrl" name="TestUrl" id="TestUrl">
                <mat-error *ngIf="form.get('TestUrl').invalid">{{getErrorMessage(form.get('TestUrl'))}}</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="testType=='SCRIPT'">
                <textarea class="font_12" matInput style="height:100px; overflow-y: auto;" placeholder="Script" formControlName="Script" name="Script" id="Script"> </textarea>
                <mat-hint class="clrred">Scripting refer <b>https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/scripting</b></mat-hint>
            </mat-form-field>
            <mat-form-field *ngIf="testType=='TRANSACTION'">
                <textarea class="font_12" matInput style="height:210px;" formControlName="TestTransaction" name="TestTransaction" id="testtransaction"> </textarea>
                <textarea class="font_12" matInput style="height:60px; border:none;resize: none" formControlName="TransStatic" name="TransStatic" id="transStatic"> </textarea>
            </mat-form-field>
            <mat-form-field *ngIf="testType=='TRANSACTION'">
                <textarea class="font_12" matInput style="height:140px;" formControlName="TestTrans2" name="TestTrans2" id="testtrans2"> </textarea>
                <textarea class="font_12" matInput style="height:40px; border:none;resize: none" formControlName="TransStatic2" name="TransStatic2" id="transStatic2"> </textarea>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <mat-form-field>
                <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix matTooltip="From Date"></mat-datetimepicker-toggle>
                <mat-datetimepicker #datetimePicker type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                <input matInput formControlName="StartDate" [matDatetimepicker]="datetimePicker" max="{{maxDateTime}}" autocomplete="false" (dateChange)="changeDateTime()" placeholder="From Date">
            </mat-form-field>
            <mat-form-field>
                <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix matTooltip="To Date"></mat-datetimepicker-toggle>
                <mat-datetimepicker #datetimePicker1 type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                <input matInput formControlName="EndDate" [matDatetimepicker]="datetimePicker1" max="{{maxDateTime}}" autocomplete="false" (dateChange)="changeDateTime()" placeholder="To Date">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Run Every" formControlName="RunEvery" name="RunEvery" class="capitalize">
                    <mat-option class="capitalize" *ngFor = "let ele of runEveryTypes" [value]="ele">{{ele.disp}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>        
        <div *ngIf="testType!='TRANSACTION'" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <mat-form-field fxFlex="30">
                <mat-select placeholder="Connection" formControlName="Connection" name="Connection" id="Connection" class="capitalize">
                    <mat-option class="capitalize" *ngFor = "let ele of sumConnectivities" [value]="ele">{{ele.display_name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="25">
                <mat-select placeholder="Device" formControlName="Device" name="Device" id="Device" class="capitalize" (selectionChange)="onChangeDevice($event.value)">
                    <mat-option class="capitalize" *ngFor = "let ele of sumDeviceTypes" [value]="ele">{{ele}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="20">
                <mat-select placeholder="OS" formControlName="Os" name="Os" id="Os" class="capitalize">
                    <mat-option class="capitalize" *ngFor = "let ele of osList" [value]="ele">{{ele}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="20">
                <mat-select placeholder="Browser" formControlName="Browser" name="Browser" id="Browser" class="capitalize">
                    <mat-option class="capitalize" *ngFor = "let ele of browserList" [value]="ele">{{ele}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <mat-form-field fxFlex="30">
                <input type="number" matInput placeholder="Warning Threshold" formControlName="Warning" name="Warning" id="warning" required>
                <mat-error *ngIf="form.get('Warning').invalid">{{getErrorMessage(form.get('Warning'))}}</mat-error>
                <mat-hint color="primary">Time in Milliseconds</mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex="30">
                <input type="number" matInput placeholder="Critical Threshold" formControlName="Critical" name="Critical" id="critical" required>
                <mat-error *ngIf="form.get('Critical').invalid">{{getErrorMessage(form.get('Critical'))}}</mat-error>
                <mat-hint color="primary">Time in Milliseconds</mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex="30">
                <input type="number" matInput placeholder="Minimum Breach" formControlName="MinBreachCnt" name="MinBreachCnt" id="minBreachCnt" required>
                <mat-error *ngIf="form.get('MinBreachCnt').invalid">{{getErrorMessage(form.get('MinBreachCnt'))}}</mat-error>
                <mat-hint color="warn">Must breach continuously {{form.get('MinBreachCnt').value}} times to trigger email/SMS</mat-hint>
            </mat-form-field>
        </div>
        <div class="mgntop5" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-radio-group formControlName="IsAboveThreshold" aria-label="Select an option">
                <mat-radio-button color="primary" [value]=true  id="Thresholdabove" name="IsAboveThreshold">&gt;=Threshold Value</mat-radio-button>
            </mat-radio-group>
            <mat-checkbox color="warn" formControlName="RepeatView">Repeat View</mat-checkbox>
            <mat-checkbox color="accent" formControlName="Active">Active</mat-checkbox>
        </div>
        <div class="mgntop5" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field>
                <mat-select placeholder="Country" formControlName="Country" name="Country" id="Country" class="capitalize" (selectionChange)="onCountryChange($event.value)">
                    <mat-option>--select country--</mat-option>
                    <mat-option class="capitalize" *ngFor = "let ele of countryWise" [value]="ele">{{ele}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Cities" formControlName="SelectedCities" multiple (selectionChange)="onToggleSelCities($event.value)">
                    <mat-select-trigger>
                    {{selectedCityList.length>0 ? selectedCityList[0].city : ''}}
                    <span *ngIf="selectedCityList?.length>1" >
                        (+{{selectedCityList.length - 1}} {{selectedCityList?.length === 2 ? 'other' : 'others'}})
                    </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let ele of nodeList | filter: 'country':countrySelVal" matTooltip="{{ele.can_agent_accept_test?'':'Location is full or not available'}}" [disabled]="!ele.can_agent_accept_test" [value]="ele">{{ele.city}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-label *ngFor="let ele of selectedCityList">{{ele.country}}-{{ele.city}} | </mat-label>        
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <button mat-raised-button color="accent" (click)="onClose()">Cancel</button>
    <button *ngIf="!isLoading && form.valid  && showSave" color="primary" mat-raised-button (click)="addUpdateSum()">Save</button>
</div>