<div  flex fxLayout="column" fxLayoutGap="10px">
  <app-login-header></app-login-header>
  <form fxLayout="row" fxLayoutAlign="center" [formGroup]="form">
    <mat-card fxFlex="40" fxFlex.md="50" fxFlex.sm="75" fxFlex.xs="90" class="mat-elevation-z10 mgntop10"> 
      <mat-card-header>
        <div mat-card-avatar><mat-icon class="apd-blue">vpn_key</mat-icon></div>
        <mat-card-title>Sign Up</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-column">
          <mat-form-field>
            <div fxLayout="row">
              <input fxFlex="90" matInput placeholder="Email" formControlName="email" name="email" id="email" (blur)="validateEmailSignUp()" required>
              <span fxFlex="10" *ngIf="checkEmail" fxLayoutAlign="right"><mat-icon class="font_20" color="accent" matTooltip="Valid Email">check_circle</mat-icon></span>
              <span fxFlex="10" *ngIf="!checkEmail" fxLayoutAlign="right"><mat-icon class="font_20" color="warn" matTooltip="Email already exist">cancel</mat-icon></span>
            </div>
            <mat-error *ngIf="form.get('email').invalid">{{getErrorMessage(form.get('email'),'email')}}</mat-error>
          </mat-form-field>
          <div fxLayout="row wrap" fxLayoutAlign="space-between" >
            <mat-form-field fxFlex="40" >
              <input matInput placeholder="First Name" formControlName="fname" name="fname" id="fname" required>
              <mat-error *ngIf="form.get('fname').invalid">{{getErrorMessage(form.get('fname'),'fname')}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="40">
              <input matInput placeholder="Last Name" formControlName="lname" name="lname" id="lname" required>
              <mat-error *ngIf="form.get('lname').invalid">{{getErrorMessage(form.get('lname'),'lname')}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="40" class="mgntop20">
              <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" name="password" id="password" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field fxFlex="40" class="mgntop20">
              <input matInput placeholder="Confirm Password" formControlName="confirm" [type]="hide ? 'password' : 'text'" name="confirm" id="confirm" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <mat-form-field>
            <input matInput placeholder="Mobile No" formControlName="mobile_no" name="mobile_no" id="mobile_no" required>
            <mat-error *ngIf="form.get('mobile_no').invalid">{{getErrorMessage(form.get('mobile_no'),'mobile_no')}}</mat-error>
          </mat-form-field>
        </div>
        <mat-label class="clrred">{{getErrorMessage(form,'form')}}</mat-label>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <button id="btnReqPass" [disabled]="isLoading || form.invalid" mat-raised-button color="primary" (click)="register()">Sign Up</button>
          <button id="btnCancel"  mat-raised-button color="accent" mat-tooltip="Go to Login page"  [routerLink]="['/login']">Cancel</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
  <!-- Loader section -->
  <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
      <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
      </mat-progress-spinner>
      <button  class="font_16" mat-raised-button color="primary">Thanks for registering, will take some time </button>
      <button  class="font_16" mat-raised-button color="primary">to create dependent modules for you</button>
  </div>
</div>
