<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
  <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
  </mat-progress-spinner>
</div>
<!--Dashboard header-->
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <mat-icon class="mgnleft10 pointer md-18" (click)="goBack()">arrow_back_ios</mat-icon>
    <mat-icon class="mgnleft10 md-18" color="primary">dashboard</mat-icon>
    <span class="mgnleft10 font_14 capitalize">{{uidLabel}}</span>
  </div>
  <div [hidden]="!autoRefreshEnabled" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <mat-icon *ngIf="startRefreshTime" class="fa-spin" color="primary">autorenew</mat-icon>
        <mat-icon *ngIf="!startRefreshTime" color="primary">autorenew</mat-icon>
        <mat-chip-list class="mgnrgt10">
          <mat-chip *ngIf="startRefreshTime" class="mgnleft5" color="accent" matTooltip="Auto refresh in {{convertSecToTime(refreshTime)}}" (click)="stopRefTime()" selected>{{convertSecToTime(refreshTime)}}</mat-chip>
          <mat-chip *ngIf="!startRefreshTime" class="mgnleft5" color="accent" matTooltip="Click to start the auto refresh" (click)="startAutoRefresh()" selected>{{convertSecToTime(refreshTime)}}</mat-chip>
        </mat-chip-list>
  </div>
</div>
  
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px" class="mgnleft10">
  <div class="chart-dd" [ngClass]="{'mgntop10':i>1}" id="{{i}}" *ngFor="let ele of chartWidth; let i = index"> 
    <div fxLayout="column" class="mat-elevation-z8">
      <div class="font_12 mgnleft10 capitalize">{{chartTitle[i]}}</div>
      <div *ngIf="i<=1 && d3ChartData[i]!=undefined" style="margin-left:15px; max-height: 280px; overflow-y: auto;" id="{{i}}" appD3chartsv3 [chartdata]="d3ChartData[i]" [width]= "chartWidth[i]-20" [height]="chartHt[i]==undefined?20:chartHt[i]-20" [chartType]="d3RootChartType[i]" [editMode]=false (onChartOutput)="fromD3chart($event,i)" [theme]="theme">
      </div>
      <div *ngIf="i<=1 && d3ChartData[i]==undefined">
        No Data Available
      </div>
    </div>
    <div *ngIf="i==2" class="mat-elevation-z8" [ngStyle]="{'width':chartWidth[i]+'px'}">
      <div class="padleft10">{{treeCollTitle}}</div>
      <div class="bdrbtm1px " fxLayout="row" fxLayoutAlign="start start">
        <span class="padleft10" fxFlex="50">Function Name</span>
        <span fxFlex="10">Hits</span>
        <span fxFlex="10">Min(ms)</span>
        <span fxFlex="15">Avg(ms)</span>
        <span fxFlex="15">Max(ms)</span>
      </div>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree" [ngStyle]="{'width':chartWidth[i]+'px'}">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node;" matTreeNodeToggle>
          <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <!-- <button mat-icon-button disabled></button> -->
            <div class="wordwrap" fxLayout="row" fxLayoutAlign="start start" [ngStyle]="{'width':chartWidth[i]+'px'}"> 
              <span class="padleft10" fxFlex="50">{{node.data.r_function_name}}</span>
              <span fxFlex="10">{{node.data.r_hits}}</span>
              <span fxFlex="10">{{node.data.r_min}}</span>
              <span fxFlex="15">{{node.data.r_avg}}</span>
              <span fxFlex="15">{{node.data.r_max}}</span>
            </div>
          </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" >
          <li> 
            <div class="mat-tree-node" [ngClass]="{'oddrowdark':theme=='dark && node.id%2==1','oddrowlight':theme=='light' && node.id%2==1 }" >{{ node.id}}
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.data.r_function_name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <div class="wordwrap" fxLayout="row" fxLayoutAlign="start start" [ngStyle]="{'width':chartWidth[i]+'px'}">
                <span fxFlex="50">{{node.data.r_function_name}}</span>
                <span fxFlex="10">{{node.data.r_hits}}</span>
                <span fxFlex="10">{{node.data.r_min}}</span>
                <span fxFlex="15">{{node.data.r_avg}}</span>
                <span fxFlex="15">{{node.data.r_max}}</span>
              </div>
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
  </div>
</div>
