<label style="display: none;">{{setTitle(appTitle)}}</label>
<mat-toolbar  style ="height:50px;" fxLayoutAlign="space-between center" class="mat-elevation-z6">
	<div fxFlex="20" fxFlex.lg="20" fxFlex.md="15" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
		<img class="apd-logo" src={{cusLogo}} />
		<div fxHide.lt-lg="true"class="apd-logo-text capitalize">{{cusName}}</div>
		<button id="themesel" mat-icon-button color="primary" [matMenuTriggerFor]="menu" class="mat-elevation-z4">
			<mat-icon matTooltip="Select theme">palette</mat-icon>
		</button>
		<mat-menu id="menu" #menu="matMenu">
			<button id="theme{{i}}" mat-menu-item *ngFor="let theme of themeColl; let i=index" (click)="changeValue(theme)">{{theme.themeName}}</button>
		</mat-menu>
		<button *ngIf="showProfile" id="toggleMenu" mat-icon-button color="accent" class="mat-elevation-z4" (click)="toggleMenu()">
			<mat-icon  matTooltip="Toggle Menu" >dehaze</mat-icon>
		</button>
	</div>
	<div *ngIf="showProfile && dispOnRequest" fxShow.gt-sm="true" fxFlex="35" fxFlex.md="30" fxLayoutAlign="start center" class="font_12 mgnleft10">
		<div *ngIf="!dispCalendar" fxHide.lt-md="true" fxLayout="column" fxLayoutAlign="center" style="line-height: 0px; flex-grow: inherit;">
			<mat-label class="font_12" style="opacity:0.5; align-self:center;">Use slider below to change time ({{dispArr[sliderSetValue-1]}} is set)</mat-label>
			<mat-slider  [ngModel]="sliderSetValue" fxFlex="100" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="7" (change)="changeSlider($event.value)"></mat-slider>
		</div>
		<div *ngIf="dispCalendar" fxHide.lt-md="true">
			<mat-datetimepicker-toggle [for]="datetimePicker" id="fromdate" (click)="dispCalendar = !dispCalendar" matSuffix matTooltip="From Date"></mat-datetimepicker-toggle>
			<mat-datetimepicker #datetimePicker type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
			<input matInput [(ngModel)]="stDateTime" [matDatetimepicker]="datetimePicker" max="{{maxDateTime}}" autocomplete="false" (dateChange)="changeDateTime()">
		</div> 
		<div *ngIf="dispCalendar" fxHide.lt-md="true">
			<mat-datetimepicker-toggle [for]="datetimePicker" id="todate" (click)="dispCalendar = !dispCalendar" matSuffix matTooltip="To Date"></mat-datetimepicker-toggle>
			<mat-datetimepicker #datetimePicker type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
			<input matInput [(ngModel)]="endDateTime" [matDatetimepicker]="datetimePicker"  max="{{maxDateTime}}" autocomplete="false" (dateChange)="changeDateTime()">
		</div>
		<mat-icon *ngIf="showProfile" fxHide.lt-md="true" id="applyDtControls" (click)="applyDtControls(dispCalendar)" class="pointer" style="font-size:20px;" matTooltip="Apply Selection">play_circle_filled</mat-icon>
		<button *ngIf="!dispCalendar && showProfile" id="switch" fxHide.lt-md="true" mat-icon-button color="accent" class="mat-elevation-z4" (click)="dispCalendar= !dispCalendar">
			<!-- <mat-icon  fxHide.lt-md="true" (click)="dispCalendar= !dispCalendar" matTooltip="Switch to Calendar">date_range</mat-icon>	 -->
			<mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true" ng-reflect-ng-switch="datetime"  matTooltip="Switch to Calendar" >
				<svg fill="currentColor" focusable="false" height="100%" style="vertical-align: top" viewBox="0 0 24 24" width="100%" class="ng-star-inserted"><path d="M15,13H16.5V15.82L18.94,17.23L18.19,18.53L15,16.69V13M19,8H5V19H9.67C9.24,18.09 9,17.07 9,16A7,7 0 0,1 16,9C17.07,9 18.09,9.24 19,9.67V8M5,21C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H6V1H8V3H16V1H18V3H19A2,2 0 0,1 21,5V11.1C22.24,12.36 23,14.09 23,16A7,7 0 0,1 16,23C14.09,23 12.36,22.24 11.1,21H5M16,11.15A4.85,4.85 0 0,0 11.15,16C11.15,18.68 13.32,20.85 16,20.85A4.85,4.85 0 0,0 20.85,16C20.85,13.32 18.68,11.15 16,11.15Z"></path></svg>
			</mat-icon>
		</button>
		<button *ngIf="dispCalendar && showProfile" id="switch" mat-icon-button color="accent" class="mat-elevation-z4" (click)="dispCalendar=!dispCalendar">
			<mat-icon  fxHide.lt-md="true" matTooltip="Switch to Slider">linear_scale</mat-icon>
		</button>
	</div>
	<div fxFlex="40" fxFlex.md="50" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" >
		<mat-form-field *ngIf="showProfile && dispEnt" class="mgnleft5" fxFlex.lt-md="35">
			<mat-label id="enterprise" class="font_12">{{entSelVal}}</mat-label>
			<mat-select [(ngModel)]="entSelVal" name="entselect" class="font_12" (selectionChange)="onEntChange($event.value)">
				<mat-option id="enterprise{{i}}" *ngFor = "let entItem of entCollection; let i=index" [value]="entItem">
				{{entItem.e_name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field *ngIf="showProfile && dispOnRequest && dispMyChart" fxFlex.lt-md="35">
			<mat-label class="font_12">{{myDashSelVal}}</mat-label>
			<mat-select [(ngModel)]="myDashSelVal" name="myDash" id="myDash" class="font_12" (selectionChange)="onMyDashChange($event.value)">
				<mat-option  *ngFor = "let myDash of myDashColl" [value]="myDash.mc_name">
				{{myDash.mc_name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<button *ngIf="showProfile && !dispOnRequest" fxHide.lt-lg="true" style="opacity: 0.8" mat-button >Welcome {{userName}}</button>
		<button *ngIf="showProfile" mat-icon-button color="primary" class="mat-elevation-z4">
			<mat-icon  fxHide.lt-lg="true" matTooltip="{{userName}}">person</mat-icon>
		</button>
		<button *ngIf="showProfile" id="signout" mat-icon-button color="accent" class="mat-elevation-z4" (click)="logout()">
			<mat-icon matTooltip="Signout" >exit_to_app</mat-icon>
		</button>
	</div>
</mat-toolbar>