/* .mat-slider-track-background{
    background-color: cornsilk !important;
}
.mat-slider-thumb{
    background-color: darkorange !important;
}
.mat-slider-track-wrapper{
    background-color: white !important;
}
.mat-slider-thumb-label-text{
    color: white !important;
} */
/* Calendar css */
/* .mat-datetimepicker-calendar-header{
    background-color: chocolate;
}
.mat-datetimepicker-clock-hand{
    background-color: chocolate;
}
.datetimepicker-clock-cell-selected[_ngcontent-fjf-c14]{
    color: chocolate !important ;
} */