<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px"> -->
<mat-card>
  <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <mat-icon class="mgnleft10 pointer md-18" (click)="goBack()">arrow_back_ios</mat-icon>
    <mat-icon class="md-18" color="primary">dashboard</mat-icon>
    <span class="capitalize">{{pageTitle}}::{{profilerData.module_name}}</span>
  </mat-card-title>
<!-- </div> -->
<mat-card-content *ngIf="profilerData">
  <mat-tab-group>
    <mat-tab *ngFor = "let ele of profilerData.urls">
      <ng-template mat-tab-label>
        {{ele.urlName | uppercase}}
      </ng-template>
        <iframe width="100%" [style.height.px]="screenChange?.height-124" frameBorder="0" [src]="ele.url"></iframe>
    </mat-tab>
  </mat-tab-group>
</mat-card-content>
</mat-card>