<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">settings</mat-icon>    
    <mat-label color="primary" class="mgnleft10">Column Definition</mat-label>
    <mat-icon id="close" color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div mat-dialog-content fxLayout="column">
    <form  [formGroup]="form" >
        <div formArrayName="ColDef" fxFlex="100">
            <div *ngFor="let ele of form.get('ColDef')['controls']; let i = index">
                <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-icon color="warn" (click)="removeColDefElement(i)" class="pointer"matTooltip="Remove Column">remove_circle</mat-icon>
                    <mat-form-field>
                        <input matInput placeholder="Column Name" formControlName="ColName" name="ColName{{i}}" id="ColName{{i}}" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select formControlName="ColType" placeholder="Column Data Type">
                            <mat-option *ngFor="let unit of colUnitColl" [value]="unit">{{unit}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="i==0">
                        <input matInput  formControlName="ChartType" name="ChartType{{i}}" id="ChartType{{i}}">
                    </mat-form-field>
                    <mat-form-field *ngIf="i!=0">
                        <mat-select formControlName="ChartType" placeholder="Chart Type">
                            <mat-option *ngFor="let chart of chartType; let idx = index" id="{{chart}}{{idx}}"  [value]="chart">{{chart}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select formControlName="Param" placeholder="Map Param" (selectionChange)="onChangeParam($event.value, i)">
                            <mat-option *ngFor="let param of paramColl" [value]="param">{{param}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
    <button id="cancel" mat-raised-button color="warn" (click)="onClose()">Cancel</button>
    <button id="save" color="primary" mat-raised-button (click)="saveColUnits()">Apply Changes</button>
</div>
<!-- [mat-dialog-close]="data" -->