<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">{{titleIcon}}</mat-icon>    
    <mat-label color="primary" class="mgnleft10">{{title}}</mat-label>
    <mat-icon id="close" color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div mat-dialog-content>
    <form  [formGroup]="form" autocomplete="off">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <mat-select placeholder="Engine Name" formControlName="EngineName" name="EngineName" class="capitalize">
                    <mat-option class="capitalize" *ngFor = "let ele of engineColl" [value]="ele">{{ele.disp_name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Database" formControlName="Database" name="Database" id="Database" required>
                <mat-error *ngIf="form.get('Database').invalid">{{getErrorMessage(form.get('Database'))}}</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <input matInput placeholder="Host" formControlName="Host" name="Host" id="Host" required>
                <mat-error *ngIf="form.get('Host').invalid">{{getErrorMessage(form.get('Host'))}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Port" formControlName="Port" name="Port" id="Port" required>
                <mat-error *ngIf="form.get('Port').invalid">{{getErrorMessage(form.get('Port'))}}</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <input matInput placeholder="DB User" formControlName="DBUser" name="hidden" id="DBUser" autocomplete="off" [readonly]="readOnly" (focus)="readOnly=false" required>
                <mat-error *ngIf="form.get('DBUser').invalid">{{getErrorMessage(form.get('DBUser'))}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="DB Password" formControlName="DBPassword" name="hidden" id="DBPassword" autocomplete="off" required>
                <mat-error *ngIf="form.get('DBPassword').invalid">{{getErrorMessage(form.get('DBPassword'))}}</mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <button id="cancel" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
    <button id="save" *ngIf="!isLoading && form.valid && form.dirty" color="primary" mat-raised-button (click)="addUpdateDb()">Save</button>
</div>