<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<mat-card>
    <mat-card-title mat-dialog-title class="bdrbtm1px" fxLayout="row">
        <div fxFlex="80" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-icon id="arrowgoback" class="mgnleft10 pointer" matTooltip="Back" (click)="goBack()">arrow_back_ios</mat-icon>
            <mat-icon color="primary">{{titleIcon}}</mat-icon>    
            <mat-label color="primary" class="mgnleft10">{{title}}</mat-label>
        </div>
        <div fxFlex="20" fxLayoutAlign="end center" fxLayoutGap="10px">
                <mat-icon id="configColumn" *ngIf="qryResultSet?.data?.length>0" color="accent" class="pointer" matTooltip="Configure Columns" (click)="openConfigColumn()">settings</mat-icon>
                <mat-icon id="savequery" *ngIf="qryResultSet?.data?.length>0" color="primary" class="pointer" matTooltip="Save Query" (click)="openQrySave()">save</mat-icon>
            <mat-icon id="goback" color="warn" class="pointer" matTooltip="Close dialog" (click)="goBack()">cancel</mat-icon>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div class="mgnleft10">
            <div *ngIf="!hideQryParam" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field *ngIf="!isSQL">
                    <input type="text" placeholder="{{placeholder}}" aria-label="Table selection" matInput [formControl]="TableSel" [matAutocomplete]="auto" matTooltip="{{TableSel.value != undefined ? TableSel.value.table_name : 'Minimum 3 characters required'}}" [readonly]="readOnlySelect" (focus)="openpopup=false">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getColDef()">
                        <mat-option *ngFor="let option of filteredTable | async" [value]="option" matTooltip="{{option.table_name}}">
                            {{option.table_name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- filter by-->
                <div *ngIf="!isSQL" class="qry-builder" style="min-width:30%;">
                    <div [ngClass]="{'text-on-border-light':theme=='light', 'text-on-border-dark':theme=='dark'}">Filter By</div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                        <mat-chip-list *ngIf="qryFilterColl?.length>0" #chipList aria-label="Table Selection">
                            <mat-chip *ngFor="let filter of qryFilterColl; let i=index"  (removed)="removeFilter(filter.column_name)" matTooltip="{{filter.column_name}} {{filter.operator}} {{filter.filterVal1}} {{filter.filterVal2 ? 'AND '+filter.filterVal2 : ''}}" selected>{{filter.column_name}}
                                <mat-icon id="removefilter{{i}}" *ngIf="removable" color="warn" matChipRemove >cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                        <mat-icon id="addfilter" *ngIf="qryFilterColl?.length>0" color="primary" class="pointer add-pos" matTooltip="Add Filter" (click)="openpopup=true; JoinOperator.setValue('AND'); openGrpPopup=false;openOrderByPopup=false;openSelColPopup=false;">add</mat-icon>
                    </div>
                    <button id="filterpopup" *ngIf="qryFilterColl?.length==0" [disabled]="columnDef.length==0" mat-button (click)="openpopup=!openpopup;openGrpPopup=false;openSelColPopup=false;">Add filters to narrow down result set</button>
                    <div *ngIf="openpopup" class="arrow-up"></div>
                    <div *ngIf="openpopup" class="popup-bounding-box" dir="ltr">
                        <div style="pointer-events: auto; position: static;" class="popup-pane">
                            <div class="popup-panel" style="display:block;">
                                <mat-card>
                                    <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" matTooltip="Table Name">
                                        <mat-icon color="primary">reorder</mat-icon>
                                        <mat-label>{{TableSel.value?.table_name.split('.')[1]}}</mat-label>
                                    </mat-card-title>
                                    <mat-card-content fxLayout="column">
                                        <mat-form-field *ngIf="qryFilterColl?.length>0">
                                            <mat-label>Join Operator</mat-label>
                                            <mat-select [formControl]="JoinOperator">
                                                <mat-option [value]="'AND'">AND</mat-option>
                                                <mat-option [value]="'OR'">OR</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput placeholder="Select Column" aria-label="Column selection" matInput [formControl]="ColumnSel" [matAutocomplete]="auto" matTooltip="{{ColumnSel.value != undefined ? ColumnSel.value.column_name : ''}}" > 
                                            <mat-icon matSuffix class="mgnleft5" color="accent">search</mat-icon>
                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayColFn" (optionSelected)="getOperator($event?.option?.value)">
                                                <mat-option *ngFor="let option of filteredColumns | async " [value]="option" matTooltip="{{option.data_type}}">
                                                    <mat-icon *ngIf="option.data_type=='numeric' || option.data_type.includes('double') || option.data_type.includes('real')" color="primary" class="md-18">looks_one</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('int')" color="primary" class="md-18">looks_one</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('char')" color="accent" class="md-18">sort_by_alpha</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('text')" color="accent" class="md-18">sort_by_alpha</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('timestamp')" color="warn" class="md-18">date_range</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('bool')" color="warn" class="md-18">star_half</mat-icon>
                                                    <span  *ngIf="option.data_type.includes('json')" matPrefix class="clrblue">&#123;&#125;</span>
                                                    <span  *ngIf="option.data_type.includes('ARRAY')" matPrefix class="clrgreen">&#91;&#93;</span>
                                                    {{option.column_name}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Select Operator</mat-label>
                                            <mat-select [formControl]="OperatorSel" (selectionChange)="FilterVal1.setValue(null); FilterVal2.setValue(null)">
                                                <mat-option *ngFor="let operator of dispOperator" [value]='operator'>{{operator}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="fieldType!=undefined && fieldType!='radio' && operatorColl.timestamp.indexOf(OperatorSel.value)==-1">
                                                <input matInput [type]="fieldType" placeholder="Filter Value Type '{{fieldType}}'" [formControl]="FilterVal1">
                                        </mat-form-field>
                                        <mat-form-field *ngIf="OperatorSel.value=='Between'">
                                                <input matInput [type]="fieldType" placeholder="AND" [formControl]="FilterVal2">
                                        </mat-form-field>
                                        <div *ngIf="fieldType!=undefined && fieldType=='radio'" style="text-align:left;" fxLayout="column">
                                            <mat-label >Filter Value Type '{{fieldType}}'</mat-label>
                                            <mat-radio-group fxLayout="row" aria-label="Select an option" [formControl]="FilterVal1">
                                                <mat-radio-button value="true">True</mat-radio-button>
                                                <mat-radio-button class="mgnleft10" value="false">False</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </mat-card-content>
                                    <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center">
                                        <button id="filtercancel" mat-raised-button color="accent" (click)="onCancel()">Cancel</button>
                                        <button id="addtofilter" mat-raised-button color="primary" (click)="addToFilter()">Add Filter</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Group by-->
                <div *ngIf="!isSQL" class="qry-builder">
                    <div [ngClass]="{'text-on-border-light':theme=='light', 'text-on-border-dark':theme=='dark'}">Group By</div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                        <mat-chip-list *ngIf="qryGrpColl.length>0" #chipList aria-label="Group Selection">
                            <mat-chip color="accent" *ngFor="let grp of qryGrpColl; let i=index"  (removed)="removeGrpFilter(grp.column_name)" matTooltip="{{grp.column_name}}" selected>{{grp.column_name}}
                                <mat-icon id="removegrp{{i}}" *ngIf="removable" color="warn" matChipRemove >cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                        <mat-icon id="addgroup" *ngIf="qryGrpColl.length>0" color="primary" class="pointer add-pos" matTooltip="Add Group" (click)="openGrpPopup=true;openpopup=false;openSelColPopup=false;openOrderByPopup=false;">add</mat-icon>
                    </div>
                    <button id="grouppopup" *ngIf="qryGrpColl.length==0" style="float:left;" [disabled]="columnDef.length==0" mat-button (click)="openGrpPopup=!openGrpPopup; openpopup=false; openSelColPopup=false;openOrderByPopup=false;">Add a Grouping</button>
                    <div *ngIf="openGrpPopup" class="arrow-up"></div>
                    <div *ngIf="openGrpPopup" class="popup-bounding-box" dir="ltr">
                        <div style="pointer-events: auto; position: static;" class="popup-pane">
                            <div class="popup-panel" style="display:block;">
                                <mat-card>
                                    <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" matTooltip="Table Name">
                                        <mat-icon color="primary">reorder</mat-icon>
                                        <mat-label>{{TableSel.value?.table_name.split('.')[1]}}</mat-label>
                                    </mat-card-title>
                                    <mat-card-content fxLayout="column">
                                        <mat-form-field>
                                            <mat-label>Select Group Column</mat-label>
                                            <mat-select [formControl]="GrpSel">
                                                    <mat-select-trigger>{{GrpSel?.value?.column_name}}</mat-select-trigger>
                                                    <mat-option *ngFor="let option of columnDef" [value]="option" matTooltip="{{option.data_type}}" [disabled]="option.data_type.includes('json') || option.data_type.includes('ARRAY')">
                                                    <mat-icon *ngIf="option.data_type=='numeric'" color="primary" class="md-18">looks_one</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('int')" color="primary" class="md-18">looks_one</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('char')" color="accent" class="md-18">sort_by_alpha</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('text')" color="accent" class="md-18">sort_by_alpha</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('timestamp')" color="warn" class="md-18">date_range</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('bool')" color="warn" class="md-18">star_half</mat-icon>
                                                    <span *ngIf="option.data_type.includes('json')" matPrefix class="clrblue">&#123;&#125;</span>
                                                    <span  *ngIf="option.data_type.includes('ARRAY')" matPrefix class="clrgreen">&#91;&#93;</span>
                                                    {{option.column_name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="GrpSel.value?.data_type.includes('timestamp')">
                                            <mat-select [formControl]="TimeSubGroup" placeholder="Sub group DateTime">
                                                <mat-option *ngFor="let option of timestampGroup" [value]="option">{{option}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card-content>
                                    <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center">
                                        <button id="groupcancel" mat-raised-button color="accent" (click)="openGrpPopup=false; GrpSel.setValue(null);TimeSubGroup.setValue(null);">Cancel</button>
                                        <button id="addtogroup" mat-raised-button color="primary" (click)="addToGrp()">Add to Group</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
                <!--RAW Column-->
                <div *ngIf="!isSQL" class="qry-builder" style="max-width:90%">
                    <div [ngClass]="{'text-on-border-light':theme=='light', 'text-on-border-dark':theme=='dark'}">View</div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                        <mat-chip-list *ngIf="selRawColColl.length>0" #chipList aria-label="Column Selection for Aggregation">
                            <mat-chip color="accent" *ngFor="let col of selRawColColl; let idx=index"  (removed)="removeAggCol(idx)" matTooltip="{{col.column_name}}:{{col.aggr}}" selected>{{col.column_name}}
                                <mat-icon id="removeagg{{idx}}" *ngIf="removable" color="warn" matChipRemove >cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                        <mat-icon id="addagg" *ngIf="selRawColColl.length>0" color="primary" class="pointer add-pos-raw" matTooltip="Add Column" (click)="openGrpPopup=false;openpopup=false;openSelColPopup=true;openOrderByPopup=false;">add</mat-icon>
                    </div>
                    <button id="popupagg" *ngIf="selRawColColl.length==0" style="float:left;" [disabled]="columnDef.length==0" mat-button (click)="openSelColPopup=!openSelColPopup; openGrpPopup=false; openpopup=false;openOrderByPopup=false; ">Raw data</button>
                    <div *ngIf="openSelColPopup" class="arrow-up"></div>
                    <div *ngIf="openSelColPopup" class="popup-bounding-box" dir="ltr">
                        <div style="pointer-events: auto; position: static;" class="popup-pane">
                            <div class="popup-panel" style="display:block;">
                                <mat-card>
                                    <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" matTooltip="Table Name">
                                        <mat-icon color="primary">reorder</mat-icon>
                                        <mat-label>{{TableSel.value?.table_name.split('.')[1]}}</mat-label>
                                    </mat-card-title>
                                    <mat-card-content fxLayout="column">
                                        <mat-form-field>
                                            <mat-label>Select Aggregator</mat-label>
                                            <mat-select [formControl]="AggSel" (selectionChange)="getAggColumns($event.value)">
                                                <mat-select-trigger>{{AggSel?.value?.disp_name}}</mat-select-trigger>
                                                <mat-option *ngFor="let agg of aggregatorColl" [value]='agg'>{{agg.disp_name}}<span class="mgnleft20"><mat-icon color="primary" matTooltip="{{agg.help}}">help</mat-icon></span></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="dispCols.length>0">
                                            <mat-label>Select Column</mat-label>
                                            <mat-select [formControl]="SelColFC">
                                                <mat-select-trigger>{{SelColFC?.value?.column_name}}</mat-select-trigger>
                                                <mat-option *ngFor="let option of dispCols" [value]="option" matTooltip="{{option.data_type}}" [disabled]="option.data_type.includes('json') || option.data_type.includes('ARRAY')">
                                                    <mat-icon *ngIf="option.data_type=='numeric'" color="primary" class="md-18">looks_one</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('int')" color="primary" class="md-18">looks_one</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('char')" color="accent" class="md-18">sort_by_alpha</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('text')" color="accent" class="md-18">sort_by_alpha</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('timestamp')" color="warn" class="md-18">date_range</mat-icon>
                                                    <mat-icon *ngIf="option.data_type.includes('bool')" color="warn" class="md-18">star_half</mat-icon>
                                                    <span *ngIf="option.data_type.includes('json')" matPrefix class="clrblue">&#123;&#125;</span>
                                                    <span  *ngIf="option.data_type.includes('ARRAY')" matPrefix class="clrgreen">&#91;&#93;</span>
                                                    {{option.column_name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="AggSel?.value?.name=='PERCENTILE'">
                                            <input type="number" placeholder="percentile Value" aria-label="Enter percentile to be calculated" matInput [formControl]="PercValFC" matTooltip="Value must be between 0 and 1" [readonly]="readOnlySelect" min="0" max="1">
                                        </mat-form-field>
                                    </mat-card-content>
                                    <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center">
                                        <button id="aggcancel" mat-raised-button color="accent" (click)="openSelColPopup=false;SelColFC.setValue(null);AggSel.setValue(null);">Cancel</button>
                                        <button id="addtoagg" mat-raised-button color="primary" (click)="addToCol()">Add to Column</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
                <!--ORDER BY Clause-->
                <div *ngIf="(selRawColColl.length>0 || qryGrpColl.length>0) && !isSQL" class="qry-builder">
                    <div [ngClass]="{'text-on-border-light':theme=='light', 'text-on-border-dark':theme=='dark'}">Order By</div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                        <mat-chip-list *ngIf="orderByColl.length>0" #chipList aria-label="Order by clause for query">
                            <mat-chip color="primary" *ngFor="let col of orderByColl; let idx=index"  (removed)="removeOrderCol(idx)" matTooltip="ColIdx{{col.column_index}}:{{col.sort}}" selected>ColIdx{{col.column_index}}
                                <mat-icon id="removeOrderCol{{idx}}" *ngIf="removable" color="warn" matChipRemove >cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                        <mat-icon id="addorderby" *ngIf="orderByColl.length>0" color="primary" class="pointer add-pos-raw" matTooltip="Add Order By" (click)="openGrpPopup=false;openpopup=false;openSelColPopup=false;openOrderByPopup=true;">add</mat-icon>
                    </div>
                    <button id="popuporderby" *ngIf="orderByColl.length==0" style="float:left;" [disabled]="columnDef.length==0" mat-button (click)="openOrderByPopup=!openOrderByPopup; openGrpPopup=false; openpopup=false; openSelColPopup=false; ">Order By</button>
                    <div *ngIf="openOrderByPopup" class="arrow-up"></div>
                    <div *ngIf="openOrderByPopup" class="popup-bounding-box" dir="ltr">
                        <div style="pointer-events: auto; position: static;" class="popup-pane">
                            <div class="popup-panel" style="display:block;">
                                <mat-card>
                                    <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" matTooltip="Table Name">
                                        <mat-icon color="primary">reorder</mat-icon>
                                        <mat-label>{{TableSel.value?.table_name.split('.')[1]}}</mat-label>
                                    </mat-card-title>
                                    <mat-card-content fxLayout="column">
                                        <mat-form-field>
                                            <mat-label>Select Column</mat-label>
                                            <mat-select [formControl]="SelOrderByCol">
                                                <mat-option *ngFor="let col of qryGrpColl.concat(selRawColColl); let i=index" [value]="i">
                                                    Column Index {{i}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Sort By</mat-label>
                                            <mat-select [formControl]="SelOrderBySort">
                                                <mat-option value="ASC">ASC</mat-option>
                                                <mat-option value="DESC">DESC</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card-content>
                                    <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center">
                                        <button id="aggcancel" mat-raised-button color="accent" (click)="openOrderByPopup=false;SelOrderByCol.setValue(null);SelOrderBySort.setValue(null);">Cancel</button>
                                        <button id="addtoagg" mat-raised-button color="primary" (click)="openOrderByPopup=false;addToOrderByCol()">Add to Order By</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-form-field *ngIf="isSQL" fxFlex="80">
                    <textarea matInput [formControl]="SqlQry" placeholder="SQL Custom Query without end of statement"></textarea>
                </mat-form-field>
                <mat-checkbox [(ngModel)]="isSQL">Advance SQL</mat-checkbox>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-form-field>
                        <mat-select placeholder="Visualization" [(ngModel)]="visualization" name="visualization" class="capitalize" (selectionChange)="drawChart($event.value)">
                            <mat-option id="visual{{i}}" class="capitalize" *ngFor = "let ele of visualColl; let i=index" [value]="ele">{{ele}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-icon id="addtomychart" *ngIf="qryId!=undefined" class="pointer" color="warn" matTooltip="Add to my chart" (click)="addToMyChart(qryId)">pie_chart</mat-icon>
                    <mat-form-field>
                        <input matInput [formControl]="DDChartId" placeholder="Map Drilldown chart id">
                    </mat-form-field>
                </div>
                <button *ngIf="columnDef.length>0 || (SqlQry.value != null && SqlQry.value != '')"  id="runquery" mat-raised-button color="primary" (click)="runQry(isSQL);">{{qryResultSet == undefined || qryResultSet.data?.length==0 ?'Run Query' :'Refresh Query'}}</button>
                <mat-label>Total rows {{totalRows | number}} | No. of Columns: {{dispColumns.length}}</mat-label>
                <mat-icon *ngIf="hideQryParam" class="pointer" matTooltip="Show Qry Params" (click)="hideQryParam = !hideQryParam">expand_more</mat-icon>
                <mat-icon *ngIf="!hideQryParam" class="pointer" matTooltip="Hide Qry Params" (click)="hideQryParam = !hideQryParam">expand_less</mat-icon>
            </div>
            <div *ngIf="paramArr.length>0" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
                <div *ngFor="let param of paramArr; let ix = index">
                    <mat-form-field *ngIf="ix==0">
                        <input matInput [formControl]="Param1" placeholder="Enter param1 value">
                    </mat-form-field>    
                    <mat-form-field *ngIf="ix==1">
                        <input matInput [formControl]="Param2" placeholder="Enter param2 value">
                    </mat-form-field>    
                    <mat-form-field *ngIf="ix==2">
                        <input matInput [formControl]="Param3" placeholder="Enter param3 value">
                    </mat-form-field>    
                    <mat-form-field *ngIf="ix==3">
                        <input matInput [formControl]="Param4" placeholder="Enter param4 value">
                    </mat-form-field>    
                    <mat-form-field *ngIf="ix==4">
                        <input matInput [formControl]="Param5" placeholder="Enter param5 value">
                    </mat-form-field>    
                </div>
                <button mat-raised-button color="accent" (click)="runQry(isSQL)">Apply</button>
            </div>
        </div>
        <section *ngIf="visualization=='table' && qryResultSet?.data?.length>0 ">
            <div cdkScrollable id="qryGrid" [style.max-height.px]="screenParam==undefined?300:screenParam.height-143" style="overflow: auto" class="mat-elevation-z8">
                <table mat-table #table [dataSource]="qryResultSet" matSort>
                    <ng-container matColumnDef="{{col}}" *ngFor="let col of dispColumns; let i=index">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="capitalize">{{col}}</th>
                        <td mat-cell style="padding:0 5px !important" [ngStyle]="{'text-align': dataTypeColl[i]=='numeric' || dataTypeColl[i]?.includes('int') ? 'right' : 'left' }" *matCellDef="let element">
                            <span *ngIf="dataTypeColl[i]?.includes('timestamp') ">{{element[col] | date: dateFormat.dateTime}}</span>
                            <span *ngIf="dataTypeColl[i]?.includes('datetime') ">{{element[col] | date: dateFormat.dateTime}}</span>
                            <span class="alignright" *ngIf="dataTypeColl[i]=='numeric' || dataTypeColl[i].includes('double') || dataTypeColl[i].includes('real')">{{element[col] | number:'1.2-2'}}</span>
                            <span *ngIf="!dataTypeColl[i]?.includes('timestamp') && dataTypeColl[i]!='numeric' && !dataTypeColl[i]?.includes('datetime') && !dataTypeColl[i]?.includes('double')&& !dataTypeColl[i]?.includes('real') ">{{element[col]}}</span> 
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="dispColumns; sticky: true;"></tr>
                    <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: dispColumns;"></tr>
                </table>
            </div>
        </section>
        <section *ngIf="visualization=='stamp'&&qryResultSet?.data?.length>0" [style.height.px]="screenParam.height>215?screenParam.height-215:100" fxLayout="row" fxLayoutAlign="center center">
            <mat-chip-list>
                <mat-chip class="font_24" color="primary" selected>{{qryResultSet.data[0].count}}</mat-chip>
                <mat-label class="mgnleft10 font_16">Count of rows</mat-label>
            </mat-chip-list>
        </section>
        <section *ngIf="visualization!='table'&&visualization!='stamp'&& qryResultSet?.data?.length>0">
            <div id="{{id}}" appD3chartsv3 [chartdata]="chartToDisplay" [width]="screenParam.width-50" [height]="screenParam.height-235" [chartType]="chartToDisplay['root_chart_type']" [editMode]=false (onChartOutput)="fromD3chart($event)" [changeData] = "svgData" [theme]="theme" [style.width.px]="screenParam.width-50" [style.height.px]="screenParam.height-245">
            </div>
        </section>
    </mat-card-content>
</mat-card>
