<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">{{titleIcon}}</mat-icon>    
    <mat-label color="primary" class="mgnleft10">{{title}}</mat-label>
    <mat-icon id="close" color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-form-field>
            <mat-select fxFlex="initial" [formControl]="EnterpriseFC" placeholder="Add Enterprise">
                <mat-option *ngFor="let option of filterEntColl" [value]="option">{{option.e_name}}({{option.e_id}})</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-icon id="mapent" *ngIf="EnterpriseFC.value!=null" class="pointer" color="primary" (click)="mapEnt()" matTooltip="Map Enterprise">add_circle_outline</mat-icon>
    </div>
    <table mat-table #table [dataSource]="mappedEntColl" matSort >
        <ng-container matColumnDef="delete">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef>Remove</th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index ">
                <mat-icon id="removeent{{i}}" *ngIf="entItem.is_owner" color="warn" class="pointer" matTooltip="Remove Enterprise" (click)="removeEnt(element)">delete</mat-icon>
                <mat-icon *ngIf="!entItem.is_owner" color="accent" matTooltip="Only Owner can remove the mapped enterprise" >delete_forever</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="e_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.e_id}} </td>
        </ng-container>
        <ng-container matColumnDef="e_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Enterprise Name</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.e_name}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayEntCol; sticky: true;"></tr>
        <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: displayEntCol;"></tr>
    </table>  
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <button id="cancel" *ngIf="!saveChanges" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
        <button id="save" *ngIf="saveChanges" color="primary" mat-raised-button (click)="updDBEntMapping()">Save Changes</button>
        <mat-label *ngIf="saveChanges" class="clrred" >Please save changes before closing this dialog</mat-label>
    </div>
</div>
