<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
    
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">email</mat-icon>    
    <mat-label color="primary" class="mgnleft10">{{title}}</mat-label>
    <mat-icon id="close" color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div mat-dialog-content>
    <button id="addemail" mat-icon-button color="primary" matToolTip="Add Email" (click)="addArrEleEmail()"><mat-icon>person_add</mat-icon></button>
    <form  [formGroup]="form" fxLayout="column" fxLayoutGap="15">
        <div formArrayName="EmailArr" fxLayout="column" >
            <div *ngFor="let ele of form.get('EmailArr')['controls']; let i = index">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon id="removeemail{{i}}" fxFlex="10" color="warn" (click)="removeEmailArrElement(i)" class="pointer"matTooltip="Remove Email">remove_circle</mat-icon>
                    <mat-form-field fxFlex="90">
                        <input matInput placeholder="Email" formControlName="{{i}}" name="Email{{i}}" id="email{{i}}" required>
                        <mat-error *ngIf="ele.invalid">{{getErrorMessage(ele)}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40">
    <button id="cancel" mat-raised-button color="warn" (click)="onClose()">Cancel</button>
    <button id="save" *ngIf ="!isLoading && form.valid && form.dirty" color="primary" mat-raised-button (click)="updateEmail()">Save</button>
</div>
