<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<mat-card>
    <mat-card-title mat-dialog-title class="bdrbtm1px" fxLayout="row">
        <div fxFlex="50" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-icon id="arrowgoback" class="mgnleft10 pointer" matTooltip="Back" (click)="goBack()">arrow_back_ios</mat-icon>
            <mat-icon color="primary">{{titleIcon}}</mat-icon>    
            <mat-label color="primary" class="mgnleft10">{{title}}</mat-label>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center" fxLayoutGap="10px">
            <mat-icon id="close" color="warn" class="pointer" matTooltip="Close dialog" (click)="goBack()">cancel</mat-icon>
        </div>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center start">
        <div cdkScrollable id="qryGrid" [style.max-height.px]="screenParam==undefined?300:screenParam.height-150" style="overflow: auto" class="mat-elevation-z8">                    
          <table mat-table #table [dataSource]="qryResultSet" matSort >
            <ng-container matColumnDef="edit">
              <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef>Edit</th>   
              <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"> 
                  <mat-icon id="confiqquery{{i}}" color="primary" class="pointer" matTooltip="Edit chart id {{element.id}}" (click)="configQuery(element.id)">edit</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef>Del</th>   
              <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index">
                  <mat-icon id="delqry{{i}}" color="warn" class="pointer" matTooltip="Delete Query" (click)="delCustomQry(element.id)">delete</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="qry_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Query Name</th>
              <td mat-cell style="padding:0 5px !important" *matCellDef="let element" matTooltip="chart id {{element.id}}">{{element.qry_name}}</td>
            </ng-container>
            <ng-container matColumnDef="qry_desc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
              <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.qry_desc}}</td>
            </ng-container>
            <ng-container matColumnDef="map_ent" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Map'd Enterprise </th>
              <td mat-cell style="padding:0 5px !important;" *matCellDef="let element; let i=index" class="aligncenter"> 
                <mat-icon id="mapent{{i}}" matTooltip="Map Enterprise" color="primary" class="pointer" matBadge="{{element.arr_eid?.length>0?element.arr_eid.length:0}}" matBadgeColor="accent" (click)="openMapEnt(element)">group_add</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="schedule_report" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Schedule Report</th>
              <td mat-cell style="padding:0 5px !important;" *matCellDef="let element; let i=index" class="aligncenter">
                <mat-icon id="opensche{{i}}" *ngIf="!element.is_scheduled" matTooltip="Add Schedule" color="accent" class="pointer" (click)="openScheduler(element)">alarm_add</mat-icon>
                <mat-icon id="opensche{{i}}" *ngIf="element.is_scheduled && element.enable_scheduler" matTooltip="Edit Schedule" color="primary" class="pointer" (click)="openScheduler(element)">alarm_on</mat-icon>
                <mat-icon id="opensche{{i}}" *ngIf="element.is_scheduled && !element.enable_scheduler" matTooltip="Activate Scheduler" color="warn" class="pointer" (click)="openScheduler(element)">alarm_off</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="frequency">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Frequency</th>
              <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.frequency}}</td>
            </ng-container>
            <ng-container matColumnDef="email_arr" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Map'd Email</th>
              <td mat-cell style="padding:0 5px !important;" *matCellDef="let element; let i=index" class="aligncenter" > 
                <mat-icon id="configemail{{i}}" matTooltip="Configure Email" color="primary" class="pointer" matBadge="{{element.email_arr?.length>0?element.email_arr.length:0}}" matBadgeColor="accent" (click)="openConfigEmail(element)">email</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="last_email_sent_on">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Sent On</th>
              <td mat-cell style="padding:0 5px !important" [ngClass]="{'clrred':!element.is_success}" *matCellDef="let element" matTooltip="{{element.last_error_msg!=null?'Error Msg: '+element.last_error_msg:''}}">{{element.last_email_sent_on | date:'medium'}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="dispColumns; sticky: true;"></tr>
            <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: dispColumns;"></tr>
          </table>  
        </div>
      </div>
    </mat-card-content>
</mat-card>