<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">save</mat-icon>    
    <mat-label color="primary" class="mgnleft10">Save Query Dialog</mat-label>
    <mat-icon id="close" color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div mat-dialog-content fxLayout="column">
    <mat-form-field>
        <input matInput placeholder="Query Name" [(ngModel)]="data.qry_name" name="data.qry_name" id="queryName" required (blur)="validateStringEmpty()">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="data.qry_desc" name="data.qry_desc" id="queryDesc">
    </mat-form-field>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
    <button id="cancel" mat-raised-button color="warn" (click)="onClose()">Cancel</button>
    <button id="save" *ngIf ="!btnDisable" color="primary" mat-raised-button [mat-dialog-close]="data">Save</button>
    <div *ngIf ="btnDisable" class="clrred">Query Name cannot be empty</div>
</div>
<!-- [mat-dialog-close]="data" -->