<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
    
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">schedule</mat-icon>    
    <mat-label color="primary" class="mgnleft10">{{title}}</mat-label>
    <mat-icon id="close" color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div mat-dialog-content>
    <form  [formGroup]="form" fxLayout="column" fxLayoutGap="15">
        <mat-form-field>
            <input matInput placeholder="Report Title" formControlName="ReportTitle" name="ReportTitle" id="ReportTitle" required>
            <mat-hint>Subject for an email</mat-hint>
            <mat-error *ngIf="form.get('ReportTitle').invalid">{{getErrorMessage(form.get('ReportTitle'),'ReportTitle')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="ReportDesc" name="ReportDesc" id="ReportDesc" required></textarea>
            <mat-hint>Body of an email</mat-hint>
            <mat-error *ngIf="form.get('ReportDesc').invalid">{{getErrorMessage(form.get('ReportDesc'),'ReportDesc')}}</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <mat-label>Select Frequency</mat-label>
                <mat-select formControlName="Frequency">
                    <mat-option id="freq{{i}}" *ngFor="let frequency of frequencyColl; let i=index" [value]='frequency'>{{frequency}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox color="warn" formControlName="EnableScheduler" matTooltip="Must be enabled to trigger the report as per schedule">Activate Scheduler</mat-checkbox>
            <mat-checkbox color="primary" formControlName="SendAsAttachment" matTooltip="Generated report will be sent as Attachment">Send As Attachment</mat-checkbox>
        </div>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40">
    <button id="cancel" mat-raised-button color="warn" (click)="onClose()">Cancel</button>
    <button id="save" *ngIf ="!isLoading && form.valid && form.dirty" color="primary" mat-raised-button (click)="updateSchedule()">Save</button>
</div>
