<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
  <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
  </mat-progress-spinner>
</div>
<!--Visualizer-->
<div>
  <mat-card>
    <div class="position-top" matTooltip ="{{entItem?.e_id!=0?'Please use Map Enterprise Module':'Add Database'}}">
      <button id="dbconn" mat-fab color="primary" (click)="openDBConnAdd()" [disabled]="entItem.e_id!=0"  >
          <mat-icon class="pointer">add_circle_outline</mat-icon>
      </button>
    </div>
    <mat-card-title fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon color="accent">pie_chart</mat-icon>    
        <mat-label>Visualizer Module</mat-label>
        <mat-label class="mgnleft40 font_20" style="opacity:0.8">Database Collection</mat-label>
    </mat-card-title>
    <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="10px" >
      <mat-card class="mgntop10" *ngFor="let db of dbColl; let i=index" fxFlex="25">
        <mat-card-title fxLayoutAlign="space-between center">
            <mat-label class="mgnleft10">{{db.database}}</mat-label>
            <button mat-icon-button matTooltip="{{db.title}}"><img src="{{db.imgUrl}}" height="20px" width="20px"></button>
        </mat-card-title>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
              <button id="addqry{{i}}" mat-mini-fab color="primary" class="pointer" matTooltip="Add Query" (click)="openQuery(db)"><mat-icon>note_add</mat-icon></button>
              <button id="grdqry{{i}}" mat-mini-fab color="accent" matBadge="{{db.cnt_qry}}" matBadgeColor="primary"  class="pointer" matTooltip="View Queries" (click)="openGrdQuery(db)"><mat-icon>view_list</mat-icon></button>
              <button id="mapent{{i}}" mat-icon-button color="primary" matBadge="{{db.arr_eid?.length>0?db.arr_eid.length:0}}" matBadgeColor="accent" matTooltip="Map Enterprise" (click)="openMapEnt(db)"><mat-icon>people</mat-icon></button>
              <div *ngIf="entItem.is_owner" matTooltip="{{db.is_system?'System Managed, Edit disabled':'Edit DB Connector'}}">
              <button id="editdbconn{{i}}" mat-icon-button color="accent" [disabled]="db.is_system" (click)="openDBConnEdit(db)"><mat-icon>edit</mat-icon></button></div>
              <button *ngIf="!entItem.is_owner" mat-icon-button color="accent" matTooltip="Only Owner can edit the database connector"><mat-icon>speaker_notes_off</mat-icon></button>
              <div *ngIf="entItem.is_owner" matTooltip="{{db.is_system?'System Managed, Delete disabled':'Delete DB Connector'}}"><button id="deldbconn{{i}}" mat-icon-button color="warn" [disabled]="db.is_system" (click)="delDBConn(db)"><mat-icon>delete</mat-icon></button></div>
              <button *ngIf="!entItem.is_owner" mat-icon-button color="warn" matTooltip="Only Owner can remove the database connector"><mat-icon>delete_forever</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
