.mat-standard-chip {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 12px 12px !important;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 18px !important;
    height: 1px;
}
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: -15px !important;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -8px !important;
}