<div  flex fxLayout="column" fxLayoutGap="10px">
  <app-login-header></app-login-header>
  <div *ngIf="showPasswordRequest" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="33" fxFlex.md="50" fxFlex.sm="75" fxFlex.xs="90"> 
      <mat-card-header>
        <div mat-card-avatar><mat-icon color="accent">lock</mat-icon></div>
        <mat-card-title>Forgot Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-column">
          <mat-form-field>
            <input matInput placeholder="Enter your email" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <button id="btnReqPass" [disabled]="isLoading || email.invalid" mat-raised-button color="accent" (click)="sendForgotPasswordReq()">Request Password</button>
          <button id="btnCancel"  mat-raised-button color="warn" mat-tooltip="Go to Login page"  (click)="onClickCancel()">Cancel</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf = "showChangePassword" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="33" fxFlex.md="50" fxFlex.sm="75" fxFlex.xs="90"> 
      <mat-card-header>
        <div mat-card-avatar><mat-icon color="accent" style="transform: rotate(30deg); border-radius:100%;">lock</mat-icon></div>
        <mat-card-title>Change Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-column">
          <mat-form-field>
            <input matInput placeholder="New Password" [formControl]="newPassword" [type]="hide ? 'password' : 'text'" name="newPassword" id="newPassword" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Confirm Password" [formControl]="confirm" [type]="hide ? 'password' : 'text'" name="confirm" id="confirm" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="space-evenly" >
          <button  id="btnUpd" [disabled]="isLoading" mat-raised-button color="primary" (click)="changeForgottenPassword()">Change Password</button>
          <button type="button" id="btnCancel"  mat-raised-button color="accent" mat-tooltip="Go to Login page" (click) = "onClickCancel()" >Cancel</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- Loader section -->
  <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center" class="apdmodal" style="display:block; ">
      <mat-progress-spinner color='primary' mode="indeterminate" value="50">
      </mat-progress-spinner>
  </div>
</div>
  