<div  flex fxLayout="column" fxLayoutGap="10px">
  <form fxLayout="row" fxLayoutAlign="center center" [formGroup]="form"(submit)="profileUpdate()">
    <mat-card fxFlex="40" fxFlex.md="50" fxFlex.sm="75" fxFlex.xs="90" class="mat-elevation-z10 mgntop10"> 
      <mat-card-header>
        <div mat-card-avatar><mat-icon class="apd-blue">person</mat-icon></div>
        <mat-card-title style="margin-top:4px!important;">Update Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-column">
          <mat-form-field>
            <div fxLayout="row">
              <input fxFlex="90" matInput placeholder="Email" formControlName="email" name="email" id="email" (blur)="checkEmailAvl()" required (focus)="checkEmail=false;">
              <span fxFlex="10" *ngIf="checkEmail" fxLayoutAlign="right"><mat-icon class="font_20" color="accent" matTooltip="Valid Email">check_circle</mat-icon></span>
              <span fxFlex="10" *ngIf="!checkEmail" fxLayoutAlign="right"><mat-icon class="font_20" color="warn" matTooltip="Email already exist">cancel</mat-icon></span>
            </div>
            <mat-error *ngIf="form.get('email').invalid">{{getErrorMessage(form.get('email'),'email')}}</mat-error>
          </mat-form-field>
          <div fxLayout="row wrap" fxLayoutAlign="space-between" >
            <mat-form-field fxFlex="40" >
              <input matInput placeholder="First Name" formControlName="fname" name="fname" id="fname" required>
              <mat-error *ngIf="form.get('fname').invalid">{{getErrorMessage(form.get('fname'),'fname')}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="40">
              <input matInput placeholder="Last Name" formControlName="lname" name="lname" id="lname" required>
              <mat-error *ngIf="form.get('lname').invalid">{{getErrorMessage(form.get('lname'),'lname')}}</mat-error>
            </mat-form-field>
          </div>
          <mat-form-field>
            <input matInput placeholder="Mobile No" formControlName="mobile_no" name="mobile_no" id="mobile_no">
            <mat-error *ngIf="form.get('mobile_no').invalid">{{getErrorMessage(form.get('mobile_no'),'mobile_no')}}</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <button id="btnupd" type="submit" [disabled]="isLoading || form.invalid" mat-raised-button color="primary">Update</button>
          <button id="btncancel" type="button"  mat-raised-button color="accent" mat-tooltip="Go to Login page" (click)="onClickCancel()">Cancel</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
  <!-- Loader section -->
  <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
      <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
      </mat-progress-spinner>
  </div>
</div>
  