<app-login-header></app-login-header>
<mat-sidenav-container autosize class="mgntop10">
  <mat-sidenav mode="side" [(opened)]="opened"  id="sidenav">
    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start">
      <mat-menu #setting="matMenu">
        <button *ngIf="userDet.unq_id==1" mat-menu-item class="pointer" [routerLink]="['user']">
          <mat-icon color="warn">people</mat-icon>
          <span>Manage User</span>
      </button>
      <button mat-menu-item class="pointer" [routerLink]="['cp']">
            <mat-icon color="primary">lock</mat-icon>
            <span>Change Password</span>
        </button>
        <button mat-menu-item class="pointer" [routerLink]="['profile']">
            <mat-icon color="accent">person</mat-icon>
            <span>Update Profile</span>
        </button>
        <button mat-menu-item class="pointer" [routerLink]="['enterprise']">
            <mat-icon color="warn">domain</mat-icon>
            <span>Manage Enterprise</span>
        </button>
        <button mat-menu-item class="pointer" [routerLink]="['alertconfig']">
            <mat-icon color="primary" class="animate">notifications_active</mat-icon>
            <span>Alert Settings</span>
        </button>
      </mat-menu>
      <button class="leftalign" mat-button [matMenuTriggerFor]="setting">
        <mat-icon class="apd-blue">settings</mat-icon>
        <span class="mgnleft10">Settings</span>
      </button>
      <mat-menu #dashboard="matMenu">
      </mat-menu>
      <button class="leftalign" mat-button [routerLink]="['dashboard']">
        <mat-icon class="apd-brown">dashboard</mat-icon>
        <span class="mgnleft10">Dashboard</span>
      </button>
      <button class="leftalign" mat-button [routerLink]="['systemdetails']">
        <mat-icon class="apd-blue">settings_system_daydream</mat-icon>
        <span class="mgnleft10">System Metrics</span>
      </button>
      <button class="leftalign" mat-button [routerLink]="['extmonitors']">
        <mat-icon class="apd-brown">important_devices</mat-icon>
        <span class="mgnleft10">End User Monitors</span>
      </button>
      <button class="leftalign" mat-button [routerLink]="['visualizer']">
        <mat-icon class="apd-blue">pie_chart</mat-icon>
        <span class="mgnleft10">Visualizer</span>
      </button>
      <button class="leftalign" mat-button [routerLink]="['loadTest']">
        <mat-icon class="apd-brown" style="transform: rotate(90deg)">pets</mat-icon>
        <span class="mgnleft10">Load Testing</span>
      </button>

      <mat-menu #download="matMenu">
        <button mat-menu-item class="pointer" (click)="downloadAgent('LINUX_MONITOR_AGENT_INSTALLER')">
            <mat-icon color="accent">cloud_download</mat-icon>
            <span>Linux Agent</span>
        </button>
        <button mat-menu-item class="pointer" (click)="downloadAgent('WINDOWS_AGENT_DOWNLOADER')">
            <mat-icon color="apd-brown">cloud_download</mat-icon>
            <span>Windows Agent</span>
        </button>
        <button mat-menu-item class="pointer" (click)="downloadAgent('JAVA_AGENT')">
          <mat-icon color="primary">cloud_download</mat-icon>
          <span>Java Agent</span>
        </button>
        <button mat-menu-item class="pointer" (click)="downloadAgent('AVM')">
            <mat-icon color="warn">cloud_download</mat-icon>
            <span>AVL Monitor Agent</span>
        </button>
        <button mat-menu-item class="pointer" (click)="downloadAgent('AVM_Node')">
          <mat-icon color="warn">cloud_download</mat-icon>
          <span>AVL Monitor Node Agent</span>
      </button>
      </mat-menu>
      <button class="leftalign" mat-button [matMenuTriggerFor]="download">
        <mat-icon class="apd-blue">cloud_download</mat-icon>
        <span class="mgnleft10">Download</span>
      </button>

    </div>
  </mat-sidenav>
  <mat-sidenav-content id="sidemain">
    <div [style.height.px]="ht-13" style="max-width:100%">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>