<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
      
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="accent">settings</mat-icon>
    <mat-label color="primary" class="mgnleft10">{{configTitle}}</mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field>
            <mat-select [(ngModel)]="configSelCategory" name="catSelect" class="capitalize" (selectionChange)="onCategoryChange($event.value)">
                <mat-option class="capitalize" *ngFor = "let ele of arrCategory" [value]="ele">{{ele}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
        <div fxLayout="column">
            <div *ngFor = "let ele of avlMetrics">
                <mat-checkbox [(ngModel)]="ele.is_selected" matTooltip="{{ele.counter_description}}" class="capitalize" color="warn" [checked]="ele.is_selected" (change)="onChange(ele)">{{ele.counter_name}}</mat-checkbox>
            </div>
        </div>
        <div fxLayout="column" style="margin-top:-40px">
            <mat-chip-list>
                <mat-chip color="primary" selected>Selected Metrics</mat-chip>
            </mat-chip-list>
            <div *ngFor = "let ele of selectedMetrics">
                <mat-checkbox [(ngModel)]="ele.is_selected" class="capitalize" color="warn" [checked]="ele.is_selected" (change)="onChange(ele)">{{ele.category+"."+ele.counter_name}}</mat-checkbox>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClose()">Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="updateConfigureMetrics()">Update</button>
</div>
