<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
    
<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">add_to_queue</mat-icon>    
    <mat-label color="primary" class="mgnleft10">Add Custom Metrics for {{data.modName}}({{data.uid}})</mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onClose()">cancel</mat-icon>
</div>
<div mat-dialog-content>
    <form [formGroup]="form">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="45">
                <mat-select placeholder="Category" formControlName="categoryNameCM" name="categoryNameCM" id="categorySelection" class="capitalize" (selectionChange)="onChangeCategory($event.value)" required >
                    <mat-option class="capitalize" *ngFor = "let ele of counterCategory" [value]="ele">{{ele.category}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="isNewCategory" fxFlex="45">
                <input matInput placeholder="New Category Name" formControlName="categoryNewNameCM" name="categoryNewNameCM" id="newCategoryName">
                <mat-error *ngIf="form.get('categoryNewNameCM').invalid">{{getErrorMessage(form.get('categoryNewNameCM'),'categoryNewNameCM')}}</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="45">
                <input matInput placeholder="Counter Name" formControlName="CounterNameCM" name="CounterNameCM" id="CounterNameCM" required>
                <mat-error *ngIf="form.get('CounterNameCM').invalid">{{getErrorMessage(form.get('CounterNameCM'),'CounterNameCM')}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="20">
                <mat-select placeholder="Unit" formControlName="UnitCM" name="UnitCM" class="UnitCM" required>
                    <mat-option *ngFor = "let ele of counterUnits.sort()" [value]="ele">{{ele}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="25">
                <mat-select placeholder="Execution Type" formControlName="ExecTypeCM" name="ExecTypeCM" class="ExecTypeCM" required>
                    <mat-option *ngFor = "let ele of execTypes" [value]="ele">{{ele}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <textarea matInput placeholder="Counter Description" formControlName="CounterDescCM" name="CounterDescCM" id="CounterDescCM" required></textarea>
                <mat-error *ngIf="form.get('CounterDescCM').invalid">{{getErrorMessage(form.get('CounterDescCM'),'CounterDescCM')}}</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="100">
                <textarea matInput placeholder="Query String" formControlName="QryStringCM" name="QryStringCM" id="QryStringCM" required></textarea>
                <mat-error *ngIf="form.get('QryStringCM').invalid">{{getErrorMessage(form.get('QryStringCM'),'QryStringCM')}}</mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClose()">Cancel</button>
    <button *ngIf ="!isLoading && form.valid" color="primary" mat-raised-button (click)="addCustomMetric()">Save</button>
</div>
