<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
  <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
  </mat-progress-spinner>
</div>
<!--Module Details Header-->
<div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
  <mat-icon  class="mgnleft10 pointer" (click)="goBack()">arrow_back_ios</mat-icon>
  <mat-icon class="mgnleft10">{{modIcon.iconName}}</mat-icon>
  <span class="mgnleft10 font_16 capitalize">{{moduleTitle1}}</span>
  <span class="font_16 capitalize italic">{{moduleTitle2}}</span>
</div>
<!--Module Details body-->
<div fxLayout="row" fxLayoutAlign="center start">
  <div cdkScrollable id="alert" [style.max-height.px]="screenParam==undefined?300:screenParam.height-150" style="overflow: auto" class="mat-elevation-z8">
    <table mat-table #table [dataSource]="modColl" matSort >
      <ng-container matColumnDef="delete">
          <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
          <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
              <mat-icon color="warn" class="pointer" (click)="deleteMMCard(element)">delete</mat-icon>
          </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef></th>   
        <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
            <mat-icon color="primary" class="pointer" (click)="openModuleEdit(element)">edit</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Uid</th>
        <td mat-cell style="padding:0 5px !important" *matCellDef="let element" matTooltip="Added By: {{element.created_by}}, Added On: {{element.created_on|date:'mediumDate'}}">{{element.uid}}</td>
      </ng-container>
      <ng-container matColumnDef="module_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Module Type</th>
        <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.module_type}}</td>
      </ng-container>
      <ng-container matColumnDef="module_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Module Name</th>
        <td mat-cell style="padding:0 5px !important" *matCellDef="let element" matTooltip="{{element.description}}">{{element.module_name}}</td>
      </ng-container>
      <ng-container matColumnDef="configure">
        <th mat-header-cell *matHeaderCellDef></th>
        <td style="padding:0 10px!important" mat-cell *matCellDef="let element"  matTooltip="Configure"> 
            <mat-icon *ngIf="element.module_type!='PROFILER' && element.module_type!='NETSTACK'" color="warn" class="pointer" (click)="openConfigSetting(element)">settings</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="copy">
        <th mat-header-cell *matHeaderCellDef></th>
        <td style="padding:0 10px!important" mat-cell *matCellDef="let element"> 
            <mat-icon *ngIf="dispCopyPaste && copiedUid != element.uid && copiedMetrics.length==0" color="primary" class="pointer" matTooltip="Copy Metrics"(click)=copyMetrics(element)>assignment</mat-icon>
            <mat-icon *ngIf="dispCopyPaste && copiedUid == element.uid" color="primary" class="pointer" matTooltip="Cancel Copy" (click)=cancelCopyMetrics()>assignment_late</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="paste">
        <th mat-header-cell *matHeaderCellDef></th>
        <td style="padding:0 10px!important" mat-cell *matCellDef="let element"  matTooltip="Paste"> 
            <mat-icon *ngIf="dispCopyPaste && copiedMetrics.length>0 && copiedUid != element.uid && copiedModType==element.module_type" color="accent" class="pointer" (click)="pasteMetrics(element)">bookmark</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="custom_metrics">
        <th mat-header-cell *matHeaderCellDef></th>
        <td style="padding:0 10px!important" mat-cell *matCellDef="let element"  matTooltip="Custom Metrics" (click)="openCustomMetric(element)"> 
            <mat-icon *ngIf="element.module_type!='PROFILER' && element.module_type!='NETSTACK'" color="warn" class="pointer">add_circle_outline</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="chart">
        <th mat-header-cell *matHeaderCellDef></th>
        <td style="padding:0 10px!important" mat-cell *matCellDef="let element"  matTooltip="Draw Chart"> 
            <mat-icon color="primary" class="pointer" (click)="drawChart(element)">show_chart</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="critical">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Critical</th>
        <td mat-cell class="pointer" style="padding:0 5px !important" *matCellDef="let element" matTooltip="Alert-Critical" (click)="openAlertDetails(element, 'critical')">
          <mat-chip-list *ngIf="element.critical!=undefined" >
            <mat-chip color="warn" selected (click)="openAlertDetails(element,'critical')">{{element.critical}}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
      <ng-container matColumnDef="warning">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Warning</th>
        <td mat-cell style="padding:0 5px !important" *matCellDef="let element" matTooltip="Alert-Warning" (click)="openAlertDetails(element,'warning')">
          <mat-chip-list *ngIf="element.warning!=undefined">
            <mat-chip color="primary" selected (click)="openAlertDetails(element,'warning')">{{element.warning}}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef></th>
        <td style="padding:0 10px!important" mat-cell *matCellDef="let element"  matTooltip="LastReceivedOn: {{element.last_appedo_received_on == undefined ? '' : element.last_appedo_received_on | date: 'medium'}}, Current Status: {{element.active ?'Running': 'Down'}}"> 
          <div style="padding: 10px; border:1px solid white; border-radius: 50%" [ngClass]="{'bgclrgreen': element.active,'bgclrred': !element.active}"></div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="modCollDispColumn; sticky: true;"></tr>
      <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: modCollDispColumn;"></tr>
    </table>  
  </div>
</div>

