<div mat-dialog-title class="bdrbtm1px" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon color="primary">edit</mat-icon>    
    <mat-label color="primary" class="mgnleft10">Edit Module Details ({{data.uid}})</mat-label>
    <mat-icon color="warn" class="pointer" matTooltip="Close dialog" (click)="onNoClick()">cancel</mat-icon>
</div>
<div mat-dialog-content fxLayout="column"> 
    <mat-form-field>
        <input matInput placeholder="Module Name" [(ngModel)]="data.modName" name="data.modName" id="module_name" required (blur)="validateStringEmpty()">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="data.modDesc" name="data.modDesc" id="modDesc">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
    <button *ngIf ="!btnDisable" color="primary" mat-raised-button (click)="updateEditMMCard(data)">Save</button>
    <div *ngIf ="btnDisable" class="clrred">Module Name cannot be empty</div>
</div>
<!-- [mat-dialog-close]="data" -->