<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<!--Dashboard header-->
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" >
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <mat-icon class="mgnleft10 pointer md-18" (click)="onBackFromCard()">arrow_back_ios</mat-icon>
    <mat-icon class="mgnleft10 md-18" color="primary">dashboard</mat-icon>
    <span class="font_18 capitalize">Drilldown Dashboard</span>
  </div>
</div>
  
<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px" class="mgntop10">
  <div class="chart-dd" [ngClass]="{'mgntop10':i>1}" id="{{i}}" *ngFor="let ele of chartWidth; let i = index"> 
    <div *ngIf="!isStamp[i]&&!isTable[i]" fxLayout="column" class="mat-elevation-z8">
      <div class="font_12 mgnleft10 capitalize">{{chartTitle[i]}}</div>
      <div *ngIf="!isTable[i] && !isStamp[i]" style="margin-left:15px;" id="{{i}}" appD3chartsv3 [chartdata]="d3ChartData[i]" [width]= "chartWidth[i]-20" [height]="chartHt[i]-20" [chartType]="d3RootChartType[i]" [editMode]=false (onChartOutput)="fromD3chart($event,i)" [theme]="theme"></div>
    </div>
    <div *ngIf="isStamp[i]">
      <div style="margin: 25px auto 25px auto; font-size:20px; width:25%;">{{objectValues(d3ChartData[i].data[0])[0]}}</div>
    </div>
    <section *ngIf="isTable[i]" [style.height.px]="chartHt[i]" [style.width.px]="chartWidth[i]" class="mat-elevation-z8">
      <span class="font_14 mgnleft5" style="position:relative;" matTooltip="{{chartTitle[i]}}">{{chartTitle[i].length>50?chartTitle[i].substring(0,50)+'..':chartTitle[i]}}</span>
        <div cdkScrollable id="{{'idx'+i}}" [style.height.px]="chartHt[i]-30" [style.width.px]="chartWidth[i]-10" style="overflow: auto">
          <table  mat-table #table [dataSource]="tableDataSource[i]">
              <ng-container matColumnDef="{{col}}" *ngFor="let col of dispColumns[i];">
                  <th mat-header-cell *matHeaderCellDef class="capitalize" style="padding:0 5px !important">{{col}}</th>
                  <td mat-cell style="padding:0 5px !important" *matCellDef="let element;">
                    <div *ngIf = "d3ChartData[i].col_units_json[col]=='datetime'">{{element[col] | date: 'dd-MMM-yyyy HH:mm:ss'}}</div>
                    <div *ngIf = "d3ChartData[i].col_units_json[col]=='date'">{{element[col] | date : 'dd-MMM-yyyy'}}</div>
                    <div *ngIf = "d3ChartData[i].col_units_json[col]=='time'">{{element[col] | date: 'mediumTime'}}</div>
                    <div *ngIf = "d3ChartData[i].col_units_json[col]=='msToTime'">{{convertMstoTime(element[col])}}</div>
                    <div *ngIf = "d3ChartData[i].col_units_json[col]=='secToTime'">{{convertSecToTime(element[col])}}</div>
                    <div *ngIf = "d3ChartData[i].col_units_json[col]!='datetime'&&d3ChartData[i].col_units_json[col] != 'date' && d3ChartData[i].col_units_json[col]!='time'&&d3ChartData[i].col_units_json[col]!='msToTime'&&d3ChartData[i].col_units_json[col]!='secToTime'">{{element[col]}}</div>
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="dispColumns[i]; sticky: true"></tr>
              <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: dispColumns[i];" (click)="tableRow(row, d3ChartData[i],i)"></tr>
          </table>
        </div>
    </section>
  </div>
</div>