<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
    <mat-progress-spinner  color='primary' mode="indeterminate" value="50">
    </mat-progress-spinner>
</div>
<!--Enterprise Module-->
<div flex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
<mat-card fxFlex="60" fxFlex.md="80" fxFlex.sm="90" fxFlex.xs="100" class="mat-elevation-z10 mgntop10"> 
  <mat-card-header>
    <div mat-card-avatar><mat-icon class="apd-blue">domain</mat-icon></div>
    <mat-card-title style="margin-top:4px!important;">Enterprise {{eId!=undefined ? 'Edit Mode ('+eId+')':''}}{{dispUsrMapGrid && !usrMapForm ? ' - Mapped Users for '+ usrMapScreenTitle:''}}{{usrMapForm?usrMapScreenTitle:''}}</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row" *ngIf="displayGrid" fxLayoutAlign="center center" style="overflow: hidden"> <!--Grid-->
      <div cdkScrollable id="eg" [style.max-height.px]="screenParam.height-150" style="overflow: auto" class="mat-elevation-z8">
        <table mat-table #table [dataSource]="enterpriseColl" matSort>
          <ng-container matColumnDef="edit">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef> Edit </th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index"> 
                <mat-icon id="edit{{i}}" *ngIf="!element.is_deleted" color="accent" class="pointer" (click)="editEnt(element)">edit</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef> Del </th>   
            <td style="padding:0 10px!important" mat-cell *matCellDef="let element; let i=index">
                <mat-icon id="dea{{i}}" *ngIf="!element.is_deleted" color="warn" class="pointer" matTooltip="Deactivate Enterprise" (click)="delEnt(element.e_id)">delete</mat-icon>
                <mat-icon id="act{{i}}" *ngIf="element.is_deleted" color="warn" class="pointer" matTooltip="Activate Enterprise" (click)="unDelEnt(element.e_id)">undo</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="e_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Enterprise Name</th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element"> {{element.e_name}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell style="padding:0 5px !important" *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
          <ng-container matColumnDef="mapped_user" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Map'd Users </th>
            <td mat-cell style="padding:0 5px !important;" *matCellDef="let element"> 
              <span *ngIf="element.mapped_user!=0 && !element.is_deleted" matTooltip="Edit Mapped User" class="pointer apd-blue" (click)="openMappedUser(element)">{{element.mapped_user}} </span>
              <span *ngIf="element.mapped_user==0 && !element.is_deleted" matTooltip="Map User" class="pointer" (click)="openMappedUser(element)"><mat-icon color="accent">group_add</mat-icon> </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
          <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>  
      </div>
  </mat-card-content>
  <mat-card-content fxLayout="column" *ngIf="!this.displayGrid && !dispUsrMapGrid" fxLayoutAlign="center"> <!--Add Enterprise-->
    <form [formGroup]="form" class="flex-column">
      <mat-form-field>
        <input id="entName" name="entName" matInput placeholder="Enterprise Name" formControlName="entName" required>
        <mat-error *ngIf="form.get('entName').invalid">{{getErrorMessage(form.get('entName'),'entName')}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input id="entDesc" name="entDesc" matInput placeholder="Description" formControlName="entDesc" required>
        <mat-error *ngIf="form.get('entDesc').invalid">{{getErrorMessage(form.get('entDesc'),'entDesc')}}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-content fxLayout="row" *ngIf="dispUsrMapGrid && !usrMapForm" fxLayoutAlign="center start"> <!--User Map Grid-->
    <div cdkScrollable id="umg" [style.max-height.px]="screenParam.height-150" style="overflow: auto" class="mat-elevation-z8">
      <table mat-table #table [dataSource]="userMapColl" matSort>
        <ng-container matColumnDef="delete">
          <th style="padding:0 10px!important" mat-header-cell *matHeaderCellDef> Del </th>   
          <td style="padding:0 10px!important" mat-cell *matCellDef="let element">
              <mat-icon color="warn" class="pointer" matTooltip="Remove Mapped User" (click)="delMapUsr(element.id)">delete</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="email_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.email_id}}</td>
        </ng-container>
        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell style="padding:0 5px !important" *matCellDef="let element">{{element.first_name}}</td>
        </ng-container>
        <ng-container matColumnDef="email_verified_on" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Validated On</th>
          <td mat-cell style="padding:0 5px !important;" *matCellDef="let element">{{element.email_verified_on==null ? 'Not yet Validated': element.email_verified_on | date:'medium'}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsUsrEntMap; sticky: true;"></tr>
        <tr mat-row [ngClass]="{'tr-rowalt-dark':theme=='dark','tr-rowalt-light':theme=='light'}" *matRowDef="let row; columns: displayedColumnsUsrEntMap;"></tr>
      </table>  
    </div>
    <!-- </app-scroll-container> -->
  </mat-card-content>
  <mat-card-content *ngIf="usrMapForm">
    <form [formGroup]="form" class="flex-column"> <!--User Map form-->
      <mat-form-field>
        <div fxLayout="row">
          <input fxFlex="90" matInput placeholder="Email" formControlName="email" name="email" id="email" (blur)="checkEmailAvl()" required>
        </div>
        <mat-error *ngIf="form.get('email').invalid">{{getErrorMessageUsr(form.get('email'),'email')}}</mat-error>
      </mat-form-field>
      <div fxLayout="row wrap" fxLayoutAlign="space-between" >
        <mat-form-field fxFlex="40" >
          <input matInput placeholder="First Name" formControlName="fname" name="fname" id="fname" required>
          <mat-error *ngIf="form.get('fname').invalid">{{getErrorMessageUsr(form.get('fname'),'fname')}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="40">
          <input matInput placeholder="Last Name" formControlName="lname" name="lname" id="lname" required>
          <mat-error *ngIf="form.get('lname').invalid">{{getErrorMessageUsr(form.get('lname'),'lname')}}</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input matInput placeholder="Mobile No" formControlName="mobile_no" name="mobile_no" id="mobile_no">
        <mat-error *ngIf="form.get('mobile_no').invalid">{{getErrorMessageUsr(form.get('mobile_no'),'mobile_no')}}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="this.displayGrid">
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <button id="btnupd" type="button" mat-raised-button color="primary" (click)="createEnt()">Create</button>
      <button id="btncancel" type="button"  mat-raised-button color="accent" (click)="cancel()">Cancel</button>
    </div>
  </mat-card-actions>
  <mat-card-actions *ngIf="!this.displayGrid && !dispUsrMapGrid">
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <button [disabled]="form.invalid || isLoading" id="btnadd" type="submit" mat-raised-button color="primary" (click)="addUpdateEnt()">Save</button>
      <button id="btncancel" type="button" mat-raised-button color="accent" matTooltip="Back to grid page" (click)="cancel()">Cancel</button>
    </div>
  </mat-card-actions>
  <mat-card-actions *ngIf="dispUsrMapGrid && !usrMapForm">
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <button [disabled]="isLoading" id="btnadd" type="submit" mat-raised-button color="primary" (click) ="mapUsrToEnt()">Map User</button>
      <button id="btncancel" type="button" mat-raised-button color="accent" matTooltip="Back to grid page" (click)="cancel()">Cancel</button>
    </div>
  </mat-card-actions>
  <mat-card-actions *ngIf="usrMapForm">
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <button [disabled]="isLoading || form.invalid" id="btnsaveadd" type="submit" mat-raised-button color="primary" (click)="addUsrMap('add')">Save & Add</button>
      <button [disabled]="isLoading || form.invalid" id="btnsaveadd" type="submit" mat-raised-button color="primary" (click)="addUsrMap('finish')">Save & Finish</button>
      <button id="btncancel" type="button" mat-raised-button color="accent" matTooltip="Back to grid page" (click)="cancel()">Cancel</button>
    </div>
  </mat-card-actions>
</mat-card>
</div>

